<!--
    Code Location
    /home/ubuntu/withdrawal_requests/

    Twig File in following location:
    /var/www/html/treos/skins/admin/modules/Treos/TreosConfigs/page/crypto_withdrawal.twig

    Controller
    /var/www/html/treos/classes/XLite/Module/Treos/TreosConfigs/Controller/Admin/CryptoWithdrawal.php

    /var/www/html/treos/admin.php
    /var/www/html/treos/api.php

    Logs
    /home/ubuntu/.pm2/logs

    Site Images
    /var/www/html/treos/images/
-->

{{#section 'style'}}
    {{{renderCSS '/css/treos-general.css'}}}
    {{{renderCSS '/css/responsive.css'}}}
{{/section}}


{{#section 'jshead'}}
    {{!-- {{{renderScript '/js/enums.js'}}} --}}
    {{!-- {{{renderScript '/js/tools.js'}}} --}}
    {{!-- {{{renderScript '/js/qrcode.min.js'}}} --}}
    {{!-- {{{renderScript '/js/web3.min.js'}}} --}}

    {{!-- {{{renderScript '/js/scatter/eosjs-api.js'}}} --}}
    {{!-- {{{renderScript '/js/scatter/eosjs-jsonrpc.js'}}} --}}
    {{!-- {{{renderScript '/js/scatter/scatterjs-core.min.js'}}} --}}
    {{!-- {{{renderScript '/js/scatter/scatterjs-plugin-eosjs2.min.js'}}} --}}
    {{!-- {{{renderScript '/js/scatter/scatterjs-plugin-lynx.min.js'}}} --}}
{{/section}}

<!-- Copy from between here -->

<script src="/api.php?target=withdrawal_requests&endpoint=js%2Fcsv%2Fcsv_common.js%3Ft=202004140032"></script>
<script src="/api.php?target=withdrawal_requests&endpoint=js%2Fenums.js%3Ft=202004140032"></script>
<script src="/api.php?target=withdrawal_requests&endpoint=js%2Ftools.js%3Ft=202004140032"></script>
<script src="/api.php?target=withdrawal_requests&endpoint=js%2Freport_pagination.js%3Ft=202004140032"></script>
<script src="/api.php?target=withdrawal_requests&endpoint=js%2Fqrcode.min.js"></script>

<script src="/api.php?target=withdrawal_requests&endpoint=js%2Fweb3.min.js"></script>

<script src="/api.php?target=withdrawal_requests&endpoint=js%2Fscatter%2Feosjs-api.js"></script>
<script src="/api.php?target=withdrawal_requests&endpoint=js%2Fscatter%2Feosjs-jsonrpc.js"></script>
<script src="/api.php?target=withdrawal_requests&endpoint=js%2Fscatter%2Fscatterjs-core.min.js"></script>
<script src="/api.php?target=withdrawal_requests&endpoint=js%2Fscatter%2Fscatterjs-plugin-eosjs2.min.js"></script>
<script src="/api.php?target=withdrawal_requests&endpoint=js%2Fscatter%2Fscatterjs-plugin-lynx.min.js"></script>
<script src="/api.php?target=withdrawal_requests&endpoint=js%2Fscatter%2Fscatterjs-plugin-web3.min.js"></script>

<script src="/api.php?target=withdrawal_requests&endpoint=js%2Fcsv%2FPapaParse-5.0.2%2Fpapaparse.min.js"></script>

<link rel="stylesheet" href="/api.php?target=withdrawal_requests&endpoint=css%2Freports.css%3Ft=202004140032"/>

<!-- Bootstrap Date-Picker Plugin -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker3.css"/>

<div class="row">
    <h1>Crypto Withdrawal</h1>
</div>

<ul id="myTab" class="nav nav-tabs" role="tablist">
    <li class="nav-item active">
        <a id="lnkWithdrawCrypto" class="nav-link" data-toggle="tab" href="#div_withdraw_crypto" role="tab" aria-controls="div_withdraw_crypto" aria-expanded="false">Withdraw Crypto</a>
    </li>
    <li class="nav-item">
        <a id="lnkWithdrawalHistory" class="nav-link" data-toggle="tab" href="#div_withdrawal_history" role="tab" aria-controls="div_withdrawal_history" aria-expanded="false">Withdrawal History</a>
    </li>
</ul>

<div id="myTabContent" class="tab-content">

    <div id="div_withdraw_crypto" class="tab-pane fade active in" role="tabpanel" aria-labelledby="withdraw_crypto_tab">
        <div class="report-form-container">
            <form id='CryptoWithdrawal_Form_Report' class="form-inline" action="#">
                <table class="report-form-table">
                    <tbody>
                        <tr>
                            <th>Date Range (UTC)</th>
                            <td>
                                <input type="text" id="CryptoWithdrawal_DateFrom" class="form-control" style="width: 110px;" />
                                &nbsp;-&nbsp;
                                <input type="text" id="CryptoWithdrawal_DateTo" class="form-control" style="width: 110px;" />
                            </td>
                        </tr>
                        <tr>
                            <th>Currency</th>
                            <td>
                                <select id="CryptoWithdrawal_Symbol" class="form-control">
                                    <option value="*">All</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>Transaction Type</th>
                            <td>
                                <select id="CryptoWithdrawal_Transaction_Type" class="form-control">
                                    <option value="*">All</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>&nbsp;</th>
                            <td>
                                <button type="submit" id="CryptoWithdrawal_btnApplyFilter" class="btn btn-primary responsive">Apply</button>
                                <button type="button" id="CryptoWithdrawal_btnExport" class="btn btn-default responsive">Export</button>
                                <img src="/images/treos-spinner_rotate-64x64.gif" class="ajaxSpinner hidden" style="height: 35px;" />
                            </td>
                        </tr>
                    </tbody>
                </table>

                <input type="hidden" id="CryptoWithdrawal_RecordOffset" value="0">
                <input type="hidden" id="CryptoWithdrawal_RecordCounter" value="12">
            </form>

        </div>

        <div id="CryptoWithdrawal_NavTop">
        </div>

        <div id="CryptoWithdrawal_ReportTable">
            <table class="table table-striped report-table" style="width: unset; border: 1px solid grey; text-align: center">
                <thead>
                    <tr>
                        <th>Year</th>
                        <th>Month</th>
                        <th>Transaction<br>Type</th>
                        <th>Currency</th>
                        <th>Amount</th>
                        <th>Available to<br>Withdraw</th>
                        <th>USD</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody style="max-height: 150px; overflow-y: auto; overflow-x: visible;">
                </tbody>
            </table>
        </div>

        <div id="CryptoWithdrawal_NavBottom">
        </div>
    </div><!-- div_withdraw_crypto -->

    <div id="div_withdrawal_history" class="tab-pane fade" role="tabpanel" aria-labelledby="withdrawal_history_tab">
        <div class="report-form-container">
            <form id='History_Form_Report' class="form-inline" action="#">
                <table class="report-form-table">
                    <tbody>
                        <tr>
                            <th>Date Range (UTC)</th>
                            <td>
                                <input type="text" id="History_DateFrom" class="form-control" style="width: 110px;" />
                                &nbsp;-&nbsp;
                                <input type="text" id="History_DateTo" class="form-control" style="width: 110px;" />
                            </td>
                        </tr>
                        <tr>
                            <th>Currency</th>
                            <td>
                                <select id="History_Symbol" class="form-control">
                                    <option value="*">All</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>Transaction Type</th>
                            <td>
                                <select id="History_Transaction_Type" class="form-control">
                                    <option value="*">All</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>&nbsp;</th>
                            <td>
                                <button type="submit" id="History_btnApplyFilter" class="btn btn-primary responsive">Apply</button>
                                <button type="button" id="History_btnExport" class="btn btn-default responsive">Export</button>
                                <img src="/images/treos-spinner_rotate-64x64.gif" class="ajaxSpinner hidden" style="height: 35px;" />
                            </td>
                        </tr>
                    </tbody>
                </table>

                <input type="hidden" id="History_RecordOffset" value="0">
                <input type="hidden" id="History_RecordCounter" value="25">
            </form>

        </div>

        <div id="History_NavTop">
        </div>

        <div id="History_ReportTable">
            <table class="table table-striped report-table" style="width: unset; border: 1px solid grey; text-align: center">
                <thead>
                    <tr>
                        <th>Date (UTC)</th>
                        <th>Year</th>
                        <th>Month</th>
                        <th>Transaction<br>Type</th>
                        <th>Currency</th>
                        <th>Amount</th>
                        <th>Fee Spent</th>
                        <th>Recipient Address</th>
                        <th>Txn ID</th>
                    </tr>
                </thead>
                <tbody style="max-height: 150px; overflow-y: auto; overflow-x: visible;">
                </tbody>
            </table>
        </div>

        <div id="History_NavBottom">
        </div>
    </div><!-- div_withdrawal_history -->

</div>


<div id="CryptoWithdrawal_Form_Withdraw_Modal" class="treos-modal-dialog modal fade" role="dialog" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    Withdrawal
                </h4>
            </div>
            <div class="modal-body">
                <form id="CryptoWithdrawal_Form_Withdrawal">
                    <table>
                        <tbody>
                            <tr>
                                <th style="text-align: right; padding-right: 20px;">Currency</th>
                                <td id="CryptoWithdrawal_Withdraw_Symbol_Cell"></td>
                            </tr>
                            <tr>
                                <th style="text-align: right; padding-right: 20px;">Amount</th>
                                <td id="CryptoWithdrawal_Withdraw_Amount_Cell"></td>
                            </tr>
                            <tr>
                                <th style="text-align: right; padding-right: 20px;">Less Fee</th>
                                <td id="CryptoWithdrawal_Withdraw_AmountLessFee_Cell"></td>
                            </tr>
                            <tr>
                                <td colspan="2" id="CryptoWithdrawal_Withdraw_QRPlaceHolder" style="text-align: center;padding:20px;">
                                    
                                </td>
                            </tr>
                            <tr id="CryptoWithdrawal_Withdraw_WarningRow" class="hidden">
                                <td colspan="2" id="CryptoWithdrawal_Withdraw_WarningText" style="text-align: center;padding:20px; color: red; font-weight: bold;">
                                    &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <th>&nbsp;</th>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <th style="text-align: right; padding-right: 20px; white-space: nowrap">Address</th>
                                <td>
                                    <input type="text" id="CryptoWithdrawal_Withdraw_Address" class="form-control col-sm-10" autocomplete="off" value="">
                                </td>
                            </tr>
                            <tr id="CryptoWithdrawal_Withdraw_Address_Error" style="display:none;">
                                <th>&nbsp;</th>
                                <td>
                                    <div class="alert alert-danger">Invalid Address</div>
                                </td>
                            </tr>
                            <tr>
                                <th>&nbsp;</th>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <th style="text-align: right; padding-right: 20px; white-space: nowrap">Fee Spent</th>
                                <td>
                                    <input type="text" id="CryptoWithdrawal_Withdraw_FeeSpent" class="form-control col-sm-10" style="width: 200px; margin-right: 20px;" autocomplete="off" value="">
                                </td>
                            </tr>
                            <tr id="CryptoWithdrawal_Withdraw_FeeSpent_Error" style="display:none;">
                                <th>&nbsp;</th>
                                <td>
                                    <div class="alert alert-danger">Invalid Fee Spent</div>
                                </td>
                            </tr>
                            <tr>
                                <th>&nbsp;</th>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <th>&nbsp;</th>
                                <td>After processing the withdrawal, copy and paste the Transaction ID into the box below.</td>
                            </tr>
                            <tr>
                                <th style="text-align: right; padding-right: 20px; white-space: nowrap">Txn ID</th>
                                <td><input type="text" id="CryptoWithdrawal_Withdraw_TransactionID" class="form-control" autocomplete="off" value=""></td>
                            </tr>
                            <tr id="CryptoWithdrawal_Withdraw_TransactionID_Error" style="display:none;">
                                <th>&nbsp;</th>
                                <td>
                                    <div class="alert alert-danger">Invalid Transaction ID</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <input type="hidden" id="CryptoWithdrawal_Withdraw_Year" value="">
                    <input type="hidden" id="CryptoWithdrawal_Withdraw_Month" value="">
                    <input type="hidden" id="CryptoWithdrawal_Withdraw_TransactionTypeID" value="">
                    <img src="/images/treos-spinner_rotate-64x64.gif" class="ajaxSpinner hidden" style="height: 35px;" />
                </form>
            </div>
            <div class="modal-footer">
                <div style="display: table; width: 100%;">
                    <div style="display: table-row;">
                        <div style="display: table-cell; text-align: left;">
                            &nbsp;
                        </div>
                        <div style="display: table-cell; text-align: right;">
                            <button type="button" id="CryptoWithdrawal_Withdraw_Withdraw_btnSubmit" class="btn btn-success">Submit</button>
                            <button type="button" id="CryptoWithdrawal_Withdraw_Withdraw_btnCancel" class="btn btn-default">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- form-withdrawfees-modal -->

<div id="CryptoWithdrawal_Form_Withdraw_Scatter_Modal" class="bootbox modal fade" role="dialog" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content" style="border-radius: 7px;">
            <div class="modal-body">
                <div class="bootbox-body">
                    <h1>Scatter Withdrawal</h1>
                    <form id="CryptoWithdrawal_Form_Withdraw_Scatter">
                        <div style="display: table; width: 100%;">
                            <div style="display: table-row;">
                                <div style="display:table-cell;">
                                    <button type="submit" id="CryptoWithdrawal_btnLaunchScatter" class="btn btn-primary responsive">Launch Scatter</button>
                                </div>
                                <div style="display:table-cell; text-align: right;">
                                    <button type="button" id="CryptoWithdrawal_btnScatterClose" class="btn btn-default responsive">Close</button>
                                </div>
                            </div>
                        </div>
                        
                        <input type="hidden" id="CryptoWithdrawal_Withdraw_Scatter_Year" value="">
                        <input type="hidden" id="CryptoWithdrawal_Withdraw_Scatter_Month" value="">
                        <input type="hidden" id="CryptoWithdrawal_Withdraw_Scatter_TransactionTypeID" value="">
                        <input type="hidden" id="CryptoWithdrawal_Withdraw_Scatter_Amount" value="">
                        <input type="hidden" id="CryptoWithdrawal_Withdraw_Scatter_Symbol" value="">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div><!-- CryptoWithdrawal_Form_Withdraw_Scatter_Modal -->

<div id="CryptoWithdrawal_Scatter_Wait_Modal" class="bootbox modal fade" role="dialog" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content" style="border-radius: 7px;">
            <div class="modal-body">
                <div class="bootbox-body">
                    <h1>Please Wait...</h1>
                    <p>
                        Scatter should appear shortly to confirm the withdrawal.
                    </p>
                    <p>
                        The withdrawal will be sent to the network afterwards.
                    </p>
                    <button type="button" id="btnScatterModalHide" class="btn btn-primary responsive">Hide</button>
                </div>
            </div>
        </div>
    </div>
</div><!-- CryptoWithdrawal_Scatter_Wait_Modal -->

<script src="/api.php?target=withdrawal_requests&endpoint=js%2Ftreos-scatter.js%3Ft=202004140032"></script>
<script src="/api.php?target=withdrawal_requests&endpoint=js%2Fadmin%2Fcrypto_withdrawal.js%3Ft=202004140032"></script>
<script src="/api.php?target=withdrawal_requests&endpoint=js%2Fadmin%2Fcrypto_withdrawal_history.js%3Ft=202004140032"></script>
<script src="/api.php?target=withdrawal_requests&endpoint=js%2Ftro_converter.js%3Ft=202004140032"></script>

<!-- Copy to here -->

{{#section 'jsfoot'}}
    {{{renderScript '/js/responsive.js'}}}
    {{!-- {{{renderScript '/js/treos-scatter.js'}}} --}}
    {{!-- {{{renderScript '/js/withdrawal_requests.js'}}} --}}
{{/section}}
