<!--
    Code Location
    /home/ubuntu/withdrawal_requests/

    Twig File in following location:
    /var/www/html/treos/skins/admin/modules/Treos/TreosConfigs/page/eos_wallet_creation.twig

    Controller
    /var/www/html/treos/classes/XLite/Module/Treos/TreosConfigs/Controller/Admin/EosWalletCreation.php

    /var/www/html/treos/admin.php
    /var/www/html/treos/api.php

    Logs
    /home/ubuntu/.pm2/logs

    Site Images
    /var/www/html/treos/images/
-->

{{#section 'style'}}
    {{{renderCSS '/css/treos-general.css'}}}
    {{{renderCSS '/css/responsive.css'}}}
{{/section}}


{{#section 'jshead'}}
    {{!-- {{{renderScript '/js/enums.js'}}} --}}
    {{!-- {{{renderScript '/js/tools.js'}}} --}}
    {{!-- {{{renderScript '/js/qrcode.min.js'}}} --}}
    {{!-- {{{renderScript '/js/web3.min.js'}}} --}}

    {{!-- {{{renderScript '/js/scatter/eosjs-api.js'}}} --}}
    {{!-- {{{renderScript '/js/scatter/eosjs-jsonrpc.js'}}} --}}
    {{!-- {{{renderScript '/js/scatter/scatterjs-core.min.js'}}} --}}
    {{!-- {{{renderScript '/js/scatter/scatterjs-plugin-eosjs2.min.js'}}} --}}
    {{!-- {{{renderScript '/js/scatter/scatterjs-plugin-lynx.min.js'}}} --}}
{{/section}}

<!-- Copy from between here -->

<script src="/api.php?target=withdrawal_requests&endpoint=js%2Fcsv%2Fcsv_common.js%3Ft=202004140032"></script>
<script src="/api.php?target=withdrawal_requests&endpoint=js%2Fenums.js%3Ft=202004140032"></script>
<script src="/api.php?target=withdrawal_requests&endpoint=js%2Ftools.js%3Ft=202004140032"></script>
<script src="/api.php?target=withdrawal_requests&endpoint=js%2Freport_pagination.js%3Ft=202004140032"></script>

<script src="/api.php?target=withdrawal_requests&endpoint=js%2Fweb3.min.js"></script>

<script src="/api.php?target=withdrawal_requests&endpoint=js%2Fscatter%2Feosjs-api.js"></script>
<script src="/api.php?target=withdrawal_requests&endpoint=js%2Fscatter%2Feosjs-jsonrpc.js"></script>
<script src="/api.php?target=withdrawal_requests&endpoint=js%2Fscatter%2Fscatterjs-core.min.js"></script>
<script src="/api.php?target=withdrawal_requests&endpoint=js%2Fscatter%2Fscatterjs-plugin-eosjs2.min.js"></script>
<script src="/api.php?target=withdrawal_requests&endpoint=js%2Fscatter%2Fscatterjs-plugin-lynx.min.js"></script>
<script src="/api.php?target=withdrawal_requests&endpoint=js%2Fscatter%2Fscatterjs-plugin-web3.min.js"></script>

<script src="/api.php?target=withdrawal_requests&endpoint=js%2Fcsv%2FPapaParse-5.0.2%2Fpapaparse.min.js"></script>

<link rel="stylesheet" href="/api.php?target=withdrawal_requests&endpoint=css%2Freports.css%3Ft=202004140032"/>

<!-- Bootstrap Date-Picker Plugin -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker3.css"/>

<div class="row">
    <h1>EOS Wallet Creation Requests</h1>
</div>

<ul id="myTab" class="nav nav-tabs" role="tablist">
    <li class="nav-item active">
        <a id="lnkCreationRequests" class="nav-link" data-toggle="tab" href="#div_creation_requests" role="tab" aria-controls="div_creation_requests" aria-expanded="true">Creation Requests</a>
    </li>
    <li class="nav-item">
        <a id="lnkCreationHistory" class="nav-link" data-toggle="tab" href="#div_creation_history" role="tab" aria-controls="div_creation_history" aria-expanded="false">Creation History</a>
    </li>
</ul>

<div id="myTabContent" class="tab-content">

    <div id="div_creation_requests" class="tab-pane fade active in" role="tabpanel" aria-labelledby="creation_requests_tab">
        <div class="report-form-container">
            <form id='CreationRequests_Form_Report' class="form-inline" action="#">
                <table class="report-form-table">
                    <tbody>
                        <tr>
                            <th>Currency</th>
                            <td>
                                <select id="CreationRequests_Symbol" class="form-control">
                                    <option value="*">All</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>Member</th>
                            <td>
                                <input type="text" id="CreationRequests_Member" placeholder="Profile ID or Name" class="form-control" autocomplete="off">
                            </td>
                        </tr>
                        <tr>
                            <th>Records Per Page</th>
                            <td>
                                <select id="CreationRequests_RecordCounter" class="form-control">
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="25" selected>25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>&nbsp;</th>
                            <td>
                                <button type="submit" id="CreationRequests_btnApplyFilter" class="btn btn-primary responsive">Apply</button>
                                <img src="/images/treos-spinner_rotate-64x64.gif" class="ajaxSpinner hidden" style="height: 35px;" />
                            </td>
                        </tr>

                    </tbody>
                </table>

                <input type="hidden" id="CreationRequests_RecordOffset" value="0">
            </form>
        </div>

        <div id="CreationRequests_NavTop" style="margin-right: 18px;">
        </div>

        <div id="CreationRequests_ReportTable">
            <table class="table table-striped report-table" style="width: unset; border: 1px solid grey; text-align: center">
                <thead>
                    <tr>
                        <th>Date (UTC)</th>
                        <th>Status</th>
                        <th>Profile ID</th>
                        <th>Name</th>
                        <th>Account Name</th>
                        <th>Currency</th>
                        <th>Fee</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody style="max-height: 150px; overflow-y: auto; overflow-x: visible;">
                </tbody>
            </table>
        </div>

        <div id="CreationRequests_NavBottom">
        </div>
    </div><!-- div_creation_requests -->


    <div id="div_creation_history" class="tab-pane fade" role="tabpanel" aria-labelledby="creation_requests_tab">
        <div class="report-form-container">
            <form id='CreationHistory_Form_Report' class="form-inline" action="#">
                <table class="report-form-table">
                    <tbody>
                        <tr>
                            <th>Date Range (UTC)</th>
                            <td>
                                <input type="text" id="CreationHistory_DateFrom" class="form-control" style="width: 110px;" />
                                &nbsp;-&nbsp;
                                <input type="text" id="CreationHistory_DateTo" class="form-control" style="width: 110px;" />
                            </td>
                        </tr>
                        <tr>
                            <th>Currency</th>
                            <td>
                                <select id="CreationHistory_Symbol" class="form-control">
                                    <option value="*">All</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>Member</th>
                            <td>
                                <input type="text" id="CreationHistory_Member" placeholder="Profile ID or Name" class="form-control" autocomplete="off" style="width:100%;" />
                            </td>
                        </tr>
                        <tr>
                            <th>Records Per Page</th>
                            <td>
                                <select id="CreationHistory_RecordCounter" class="form-control">
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="25" selected>25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>&nbsp;</th>
                            <td>
                                <button type="submit" id="CreationHistory_btnApplyFilter" class="btn btn-primary responsive">Apply</button>
                                <button type="button" id="CreationHistory_btnExport" class="btn btn-default responsive">Export</button>
                                <img src="/images/treos-spinner_rotate-64x64.gif" class="ajaxSpinner hidden" style="height: 35px;" />
                            </td>
                        </tr>
                    </tbody>
                </table>

                <input type="hidden" id="CreationHistory_RecordOffset" value="0">
            </form>

        </div>

        <div id="CreationHistory_NavTop">
        </div>

        <div id="CreationHistory_ReportTable">
            <table class="table table-striped report-table" style="width: unset; border: 1px solid grey; text-align: center">
                <thead>
                    <tr>
                        <th>Date (UTC)</th>
                        <th>Status</th>
                        <th>Profile ID</th>
                        <th>Name</th>
                        <th>Account Name</th>
                        <th>Currency</th>
                        <th>Fee</th>
                        <th>Reason</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody style="max-height: 150px; overflow-y: auto; overflow-x: visible;">
                </tbody>
            </table>
        </div>

        <div id="CreationHistory_NavBottom">
        </div>
    </div><!-- div_creation_history -->

</div>


<div id="CreationRequests_Form_Request_Edit_Modal" class="treos-modal-dialog modal fade" role="dialog" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content" style="border-radius: 7px;">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>
                        <img src="/images/wallets/EOS.png" style="height: 30px; width: auto; margin-bottom: 5px;">
                    </span>
                    Create EOS Account
                </h4>
            </div>
            <div class="modal-body">
                <div id="CreationRequests_Modal_Page1">
                    <form id="CreationRequests_Form_Page1" action="#">

                        <div class="form-group">
                            <label for="CreationRequests_AccountName" class="control-label">Account Name</label>
                            <div class="input-group">
                                <input type="text" id="CreationRequests_AccountName" class="form-control" autocomplete="off">
                                <span class="input-group-addon">
                                    <img class="copy-textbox" src="/api.php?target=withdrawal_requests&endpoint=images%2Ficon_copy_64x64.png" style="width:20px; height:20px;">
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="CreationRequests_OwnerPublicKey" class="control-label">Owner Public Key</label>
                            <div class="input-group">
                                <input type="text" id="CreationRequests_OwnerPublicKey" class="form-control" autocomplete="off">
                                <span class="input-group-addon">
                                    <img class="copy-textbox" src="/api.php?target=withdrawal_requests&endpoint=images%2Ficon_copy_64x64.png" style="width:20px; height:20px;">
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="CreationRequests_ActivePublicKey" class="control-label">Active Public Key</label>
                            <div class="input-group">
                                <input type="text" id="CreationRequests_ActivePublicKey" class="form-control" autocomplete="off">
                                <span class="input-group-addon">
                                    <img class="copy-textbox" src="/api.php?target=withdrawal_requests&endpoint=images%2Ficon_copy_64x64.png" style="width:20px; height:20px;">
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <a href="https://bloks.io/wallet/create-account/advanced" target="_blank">Launch bloks.io</a>
                        </div>

                        <div class="form-group" style="margin-top: 20px;">
                            <button type="button" id="CreationRequests_btnCreateWithScatter" class="btn btn-default">Create With Scatter</button>
                        </div>

                        <div class="form-check">
                            <input type="checkbox" id="CreationRequests_AccountHasBeenCreated" class="form-check-input">
                            <label for="CreationRequests_AccountHasBeenCreated" class="form-check-label">I have created the EOS Account.</label>
                            <div id="CreationRequests_AccountHasBeenCreated_Error" class="alert alert-danger" role="alert" style="display:none;"></div>
                        </div>

                        <div class="form-group" style="margin-top: 20px; padding-top: 20px; border-top: 1px solid #e5e5e5;">
                            <label for="CreationRequests_TxnReference" class="control-label">Transaction ID</label>
                            <input type="text" id="CreationRequests_TxnReference" class="form-control" autocomplete="off">
                            <div id="CreationRequests_TxnReference_Error" class="alert alert-danger" role="alert" style="display:none;"></div>
                        </div>

                        <div class="form-group" style="margin-top: 20px;">
                            <button type="button" id="CreationRequests_btnShowEmail" class="btn btn-default">Show Email</button>
                        </div>

                        <div class="form-check">
                            <input type="checkbox" id="CreationRequests_EmailHasBeenSent" class="form-check-input">
                            <label for="CreationRequests_EmailHasBeenSent" class="form-check-label">I have sent the email to the member.</label>
                            <div id="CreationRequests_EmailHasBeenSent_Error" class="alert alert-danger" role="alert" style="display:none;"></div>
                        </div>

                        <input type="hidden" id="CreationRequests_RequestID" value="">
                        <input type="hidden" id="CreationRequests_Email" value="">
                    </form>
                </div><!-- Page 1 -->
            </div><!-- modal-body -->
            <div class="modal-footer">
                <div style="display: table; width: 100%;">
                    <div style="display: table-row;">
                        <div style="display: table-cell; text-align: left;">
                            <button type="button" id="CreationRequests_btnCancelRequest" class="btn btn-danger">Cancel Request</button>
                        </div>
                        <div style="display: table-cell; text-align: right;">
                            <img src="/images/treos-spinner_rotate-64x64.gif" class="ajaxSpinner hidden" style="height: 35px;" />
                            <button type="button" id="CreationRequests_btnNext" class="btn btn-success">Next</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- CreationRequests_Form_Request_Edit_Modal -->

<div id="CreationRequests_Form_Request_Cancel_Modal" class="treos-modal-dialog modal fade" role="dialog" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content" style="border-radius: 7px;">
            <div class="modal-header">
                <h4 class="modal-title">
                    Cancel Request
                </h4>
            </div>
            <div class="modal-body">
                <form id="CreationRequests_Form_Cancel" action="#">
                    <p>Are you sure that you want to cancel this withdrawal request?</p>

                    <div class="form-group">
                        <label for="CreationRequests_CancelReason" class="control-label">Reason</label>
                        <textarea id="CreationRequests_CancelReason" class="form-control" style="width:100%;" rows="5" maxlength="250" autocomplete="off" value=""></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div style="display: table; width: 100%;">
                    <div style="display: table-row;">
                        <div style="display: table-cell; text-align: left;">
                            &nbsp;
                        </div>
                        <div style="display: table-cell; text-align: right;">
                            <img src="/images/treos-spinner_rotate-64x64.gif" class="ajaxSpinner hidden" style="height: 35px;" />
                            <button type="button" id="CreationRequests_btnCancelRequest_Confirm" class="btn btn-danger">Cancel Request</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- CreationRequests_Form_Request_Cancel_Modal -->

<div id="CreationRequests_Show_Email_Modal" class="treos-modal-dialog modal fade" role="dialog" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content" style="border-radius: 7px;">
            <div class="modal-header">
                <h4 class="modal-title">
                    Email to Member
                </h4>
            </div>
            <div class="modal-body">
                <form id="CreationRequests_Show_Email" action="#">
                    <p>Send this email to the member:</p>

                    <div class="form-group">
                        <label for="CreationRequests_EmailCopy" class="control-label">Email Address</label>
                        <div class="input-group">
                            <input type="text" id="CreationRequests_EmailCopy" class="form-control" autocomplete="off">
                            <span class="input-group-addon">
                                <img class="copy-textbox" src="/api.php?target=withdrawal_requests&endpoint=images%2Ficon_copy_64x64.png" style="width:20px; height:20px;">
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="CreationRequests_EmailSubject" class="control-label">Subject</label>
                        <div class="input-group">
                            <input type="text" id="CreationRequests_EmailSubject" class="form-control" autocomplete="off" value="Your EOS account has been created">
                            <span class="input-group-addon">
                                <img class="copy-textbox" src="/api.php?target=withdrawal_requests&endpoint=images%2Ficon_copy_64x64.png" style="width:20px; height:20px;">
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="CreationRequests_EmailBody" class="control-label">Email Body</label>
                        <textarea id="CreationRequests_EmailBody" class="form-control" style="width:100%;" rows="20" maxlength="250" autocomplete="off" value=""></textarea>
                        <div style="text-align: right; margin-top: 5px;">
                            <img class="copy-textbox" src="/api.php?target=withdrawal_requests&endpoint=images%2Ficon_copy_32x32.png" style="width:32px; height:32px;">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div style="display: table; width: 100%;">
                    <div style="display: table-row;">
                        <div style="display: table-cell; text-align: left;">
                            &nbsp;
                        </div>
                        <div style="display: table-cell; text-align: right;">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- CreationRequests_Show_Email_Modal -->

<div id="CreationHistory_Show_Details_Modal" class="treos-modal-dialog modal fade" role="dialog" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content" style="border-radius: 7px;">
            <div class="modal-header">
                <h4 class="modal-title">
                    Details
                </h4>
            </div>
            <div class="modal-body">
                <table class="table-details">
                    <tbody>
                        <tr>
                            <th>Request (UTC)</th>
                            <td id="CreationHistory_Show_DateRequest"></td>
                        </tr>
                        <tr>
                            <th>Date (UTC)</th>
                            <td id="CreationHistory_Show_Date"></td>
                        </tr>
                        <tr>
                            <th>Status</th>
                            <td id="CreationHistory_Show_Status"></td>
                        </tr>
                        <tr>
                            <th>Profile ID</th>
                            <td id="CreationHistory_Show_ProfileID"></td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td id="CreationHistory_Show_ProfileName"></td>
                        </tr>
                        <tr>
                            <th>Account Name</th>
                            <td id="CreationHistory_Show_AccountName"></td>
                        </tr>
                        <tr>
                            <th>Currency</th>
                            <td id="CreationHistory_Show_Symbol"></td>
                        </tr>
                        <tr>
                            <th>Fee</th>
                            <td id="CreationHistory_Show_Fee"></td>
                        </tr>
                        <tr>
                            <th>Owner Public Key</th>
                            <td id="CreationHistory_Show_OwnerPublicKey" class="truncateContents"></td>
                        </tr>
                        <tr>
                            <th>Active Public Key</th>
                            <td id="CreationHistory_Show_ActivePublicKey" class="truncateContents"></td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td id="CreationHistory_Show_Email"></td>
                        </tr>
                        <tr>
                            <th>Transaction ID</th>
                            <td id="CreationHistory_Show_TxnReference" class="truncateContents"></td>
                        </tr>
                        <tr>
                            <th>Cancel Reason</th>
                            <td id="CreationHistory_Show_Reason"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <div style="display: table; width: 100%;">
                    <div style="display: table-row;">
                        <div style="display: table-cell; text-align: left;">
                            &nbsp;
                        </div>
                        <div style="display: table-cell; text-align: right;">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- CreationHistory_Show_Details_Modal -->


<script src="/api.php?target=withdrawal_requests&endpoint=js%2Ftreos-scatter.js%3Ft=202004140032"></script>
<script src="/api.php?target=withdrawal_requests&endpoint=js%2Fadmin%2Feos_wallet_generator.js%3Ft=202004140032"></script>
<script src="/api.php?target=withdrawal_requests&endpoint=js%2Fadmin%2Feos_wallet_generator_history.js%3Ft=202004140032"></script>
<script src="/api.php?target=withdrawal_requests&endpoint=js%2Ftro_converter.js%3Ft=202004140032"></script>

<!-- Copy to here -->

{{#section 'jsfoot'}}
    {{{renderScript '/js/responsive.js'}}}
    {{!-- {{{renderScript '/js/treos-scatter.js'}}} --}}
    {{!-- {{{renderScript '/js/withdrawal_requests.js'}}} --}}
{{/section}}
