<!--
    Code Location
    /home/ubuntu/withdrawal_requests/
    
    Twig File in following location:
    /var/www/html/treos/skins/admin/modules/Treos/TreosConfigs/page/withdrawal_requests.twig

    Controller
    /var/www/html/treos/classes/XLite/Module/Treos/TreosConfigs/Controller/Admin/WithdrawalRequests.php

    /var/www/html/treos/admin.php
    /var/www/html/treos/api.php

    Logs
    /home/ubuntu/.pm2/logs

    Site Images
    /var/www/html/treos/images/
-->

{{#section 'style'}}
    {{{renderCSS '/css/treos-general.css'}}}
    {{{renderCSS '/css/responsive.css'}}}
{{/section}}


{{#section 'jshead'}}
    {{!-- {{{renderScript '/js/enums.js'}}} --}}
    {{!-- {{{renderScript '/js/tools.js'}}} --}}
    {{!-- {{{renderScript '/js/qrcode.min.js'}}} --}}
    {{!-- {{{renderScript '/js/web3.min.js'}}} --}}

    {{!-- {{{renderScript '/js/scatter/eosjs-api.js'}}} --}}
    {{!-- {{{renderScript '/js/scatter/eosjs-jsonrpc.js'}}} --}}
    {{!-- {{{renderScript '/js/scatter/scatterjs-core.min.js'}}} --}}
    {{!-- {{{renderScript '/js/scatter/scatterjs-plugin-eosjs2.min.js'}}} --}}
    {{!-- {{{renderScript '/js/scatter/scatterjs-plugin-lynx.min.js'}}} --}}
{{/section}}

<!-- Copy from between here -->

<script src="/api.php?target=withdrawal_requests&endpoint=js%2Fcsv%2Fcsv_common.js%3Ft=202004140032"></script>
<script src="/api.php?target=withdrawal_requests&endpoint=js%2Fenums.js%3Ft=202004140032"></script>
<script src="/api.php?target=withdrawal_requests&endpoint=js%2Ftools.js%3Ft=202004140032"></script>
<script src="/api.php?target=withdrawal_requests&endpoint=js%2Freport_pagination.js%3Ft=202004140032"></script>
<script src="/api.php?target=withdrawal_requests&endpoint=js%2Fqrcode.min.js"></script>

<script src="/api.php?target=withdrawal_requests&endpoint=js%2Fweb3.min.js"></script>

<script src="/api.php?target=withdrawal_requests&endpoint=js%2Fscatter%2Feosjs-api.js"></script>
<script src="/api.php?target=withdrawal_requests&endpoint=js%2Fscatter%2Feosjs-jsonrpc.js"></script>
<script src="/api.php?target=withdrawal_requests&endpoint=js%2Fscatter%2Fscatterjs-core.min.js"></script>
<script src="/api.php?target=withdrawal_requests&endpoint=js%2Fscatter%2Fscatterjs-plugin-eosjs2.min.js"></script>
<script src="/api.php?target=withdrawal_requests&endpoint=js%2Fscatter%2Fscatterjs-plugin-lynx.min.js"></script>
<script src="/api.php?target=withdrawal_requests&endpoint=js%2Fscatter%2Fscatterjs-plugin-web3.min.js"></script>

<script src="/api.php?target=withdrawal_requests&endpoint=js%2Fcsv%2FPapaParse-5.0.2%2Fpapaparse.min.js"></script>

<link rel="stylesheet" href="/api.php?target=withdrawal_requests&endpoint=css%2Freports.css%3Ft=202004140032"/>

<!-- Bootstrap Date-Picker Plugin -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker3.css"/>

<div class="row">
    <h1>Withdrawal Requests</h1>
</div>

<ul id="myTab" class="nav nav-tabs" role="tablist">
    <li class="nav-item active">
        <a id="lnkWithdrawalRequests" class="nav-link" data-toggle="tab" href="#div_withdrawal_requests" role="tab" aria-controls="div_withdrawal_requests" aria-expanded="true">Withdrawal Requests</a>
    </li>
    <li class="nav-item">
        <a id="lnkWithdrawalHistory" class="nav-link" data-toggle="tab" href="#div_withdrawal_history" role="tab" aria-controls="div_withdrawal_history" aria-expanded="false">Withdrawal History</a>
    </li>
    <li class="nav-item">
        <a id="lnkWithdrawFees" class="nav-link" data-toggle="tab" href="#div_withdraw_fees" role="tab" aria-controls="div_withdraw_fees" aria-expanded="false">Withdraw Fees</a>
    </li>
    <li class="nav-item">
        <a id="lnkFeesWithdrawalHistory" class="nav-link" data-toggle="tab" href="#div_fees_withdrawal_history" role="tab" aria-controls="div_fees_withdrawal_history" aria-expanded="false">Fees Withdrawal History</a>
    </li>
</ul>

<div id="myTabContent" class="tab-content">
    <div id="div_withdrawal_requests" class="tab-pane fade active in" role="tabpanel" aria-labelledby="withdrawal_requests_tab">
        <div class="report-form-container">
            <form id='frmSearch' class="form-inline" action="#">
                <table class="report-form-table">
                    <tbody>
                        <tr>
                            <th>Timeframe</th>
                            <td>
                                <select id="cbTimeframe" class="form-control">
                                    <option value="*" selected>All</option>
                                    <option value="24">Older than 1 day</option>
                                    <option value="48">Older than 2 days</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>Currency</th>
                            <td>
                                <select id="cbCurrency" class="form-control">
                                    <option value="*">All</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>Member</th>
                            <td>
                                <input type="text" id="txtSearchMember" placeholder="Profile ID or Name" class="form-control" autocomplete="off">
                            </td>
                        </tr>
                        <tr>
                            <th>Records Per Page</th>
                            <td>
                                <select id="WithdrawalRequestsRecordCounter" class="form-control">
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="25" selected>25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>&nbsp;</th>
                            <td>
                                <button type="submit" id="btnApplyFilter" class="btn btn-primary responsive">Apply</button>
                                <img src="/images/treos-spinner_rotate-64x64.gif" class="ajaxSpinner hidden" style="height: 35px;" />
                            </td>
                        </tr>

                    </tbody>
                </table>

                <input type="hidden" id="WithdrawalRequestsRecordOffset" value="0">
            </form>
        </div>

        <div id="WithdrawalRequestsNavTop" style="margin-right: 18px;">
        </div>

        <div id="withdrawal_requests">
            <table class="table table-striped report-table" style="width: unset; border: 1px solid grey; text-align: center">
                <thead>
                    <tr>
                        <th>Date (UTC)</th>
                        <th>State</th>
                        <th>Hours<br/>Pending</th>
                        <th>Profile ID</th>
                        <th>Name</th>
                        <th>Currency</th>
                        <th>Withdraw<br/>Amount</th>
                        <th>Current<br/>Balance</th>
                        <th>Recipient Address</th>
                        <th>Memo</th>
                    </tr>
                </thead>
                <tbody style="max-height: 150px; overflow-y: auto; overflow-x: visible;">
                </tbody>
            </table>
        </div>

        <div id="WithdrawalRequestsNavBottom">
        </div>
    </div><!-- div_withdrawal_requests -->


    <div id="div_withdrawal_history" class="tab-pane fade" role="tabpanel" aria-labelledby="withdrawal_requests_tab">
        <div class="report-form-container">
            <form id='frmSearchHistory' class="form-inline" action="#">
                <table class="report-form-table">
                    <tbody>
                        <tr>
                            <th>Date Range (UTC)</th>
                            <td>
                                <input type="text" id="txtWithdrawalHistoryDateFrom" class="form-control" style="width: 110px;" />
                                &nbsp;-&nbsp;
                                <input type="text" id="txtWithdrawalHistoryDateTo" class="form-control" style="width: 110px;" />
                            </td>
                        </tr>
                        <tr>
                            <th>Currency</th>
                            <td>
                                <select id="cbWithdrawalHistoryCurrency" class="form-control">
                                    <option value="*">All</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>Member</th>
                            <td>
                                <input type="text" id="txtWithdrawalHistorySearchMember" placeholder="Profile ID or Name" class="form-control" autocomplete="off" style="width:100%;" />
                            </td>
                        </tr>
                        <tr>
                            <th>&nbsp;</th>
                            <td>
                                <button type="submit" id="btnApplyHistoryFilter" class="btn btn-primary responsive">Apply</button>
                                <button type="button" id="btnWithdrawalHistoryExport" class="btn btn-primary responsive">Export</button>
                                <img src="/images/treos-spinner_rotate-64x64.gif" class="ajaxSpinner hidden" style="height: 35px;" />
                            </td>
                        </tr>
                    </tbody>
                </table>

                <input type="hidden" id="WithdrawalHistoryRecordOffset" value="0">
                <input type="hidden" id="WithdrawalHistoryRecordCounter" value="25">
            </form>

        </div>

        <div id="WithdrawalHistoryNavTop">
        </div>

        <div id="withdrawal_history">
            <table class="table table-striped report-table" style="width: unset; border: 1px solid grey; text-align: center">
                <thead>
                    <tr>
                        <th>Date (UTC)</th>
                        <th>State</th>
                        <th>Profile ID</th>
                        <th>Name</th>
                        <th>Currency</th>
                        <th>Amount</th>
                        <th>Members<br>Fee</th>
                        <th>Fee Spent</th>
                        <th>Recipient<br>Address</th>
                        <th>Memo</th>
                        <th>Txn ID</th>
                        <th>Cancellation<br>Reason</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody style="max-height: 150px; overflow-y: auto; overflow-x: visible;">
                </tbody>
            </table>
        </div>

        <div id="WithdrawalHistoryNavBottom">
        </div>
    </div><!-- div_withdrawal_history -->


    <div id="div_withdraw_fees" class="tab-pane fade" role="tabpanel" aria-labelledby="withdrawal_requests_tab">
        <div class="report-form-container">
            <form id='frmWithdrawFeesHistory' class="form-inline" action="#">
                <table class="report-form-table">
                    <tbody>
                        <tr>
                            <th>Date Range (UTC)</th>
                            <td>
                                <input type="text" id="txtWithdrawFeesDateFrom" class="form-control" style="width: 110px;" />
                                &nbsp;-&nbsp;
                                <input type="text" id="txtWithdrawFeesDateTo" class="form-control" style="width: 110px;" />
                            </td>
                        </tr>
                        <tr>
                            <th>Currency</th>
                            <td>
                                <select id="cbWithdrawFeesCurrency" class="form-control">
                                    <option value="*">All</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>&nbsp;</th>
                            <td>
                                <button type="submit" id="btnApplyWithdrawFeesHistoryFilter" class="btn btn-primary responsive">Apply</button>
                                <button type="button" id="btnWithdrawFeesExport" class="btn btn-primary responsive">Export</button>
                                <img src="/images/treos-spinner_rotate-64x64.gif" class="ajaxSpinner hidden" style="height: 35px;" />
                            </td>
                        </tr>
                    </tbody>
                </table>

                <input type="hidden" id="WithdrawFeesRecordOffset" value="0">
                <input type="hidden" id="WithdrawFeesRecordCounter" value="12">
            </form>

        </div>

        <div id="WithdrawFeesNavTop">
        </div>

        <div id="withdraw_fees">
            <table class="table table-striped report-table" style="width: unset; border: 1px solid grey; text-align: center">
                <thead>
                    <tr>
                        <th>Year</th>
                        <th>Month</th>
                        <th>Currency</th>
                        <th>Members<br>Fee</th>
                        <th>Fee Spent</th>
                        <th>Difference</th>
                        <th>Available to<br>Withdraw</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody style="max-height: 150px; overflow-y: auto; overflow-x: visible;">
                </tbody>
            </table>
        </div>

        <div id="WithdrawFeesNavBottom">
        </div>
    </div><!-- div_withdraw_fees -->

    <div id="div_fees_withdrawal_history" class="tab-pane fade" role="tabpanel" aria-labelledby="withdrawal_requests_tab">
        <div class="report-form-container">
            <form id='frmFeesWithdrawalHistory' class="form-inline" action="#">
                <table class="report-form-table">
                    <tbody>
                        <tr>
                            <th>Date Range (UTC)</th>
                            <td>
                                <input type="text" id="txtFeesWithdrawalHistoryDateFrom" class="form-control" style="width: 110px;" />
                                &nbsp;-&nbsp;
                                <input type="text" id="txtFeesWithdrawalHistoryDateTo" class="form-control" style="width: 110px;" />
                            </td>
                        </tr>
                        <tr>
                            <th>Currency</th>
                            <td>
                                <select id="cbFeesWithdrawalHistoryCurrency" class="form-control">
                                    <option value="*">All</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>&nbsp;</th>
                            <td>
                                <button type="submit" id="btnApplyFeesWithdrawalHistoryFilter" class="btn btn-primary responsive">Apply</button>
                                <button type="button" id="btnFeesWithdrawalHistoryExport" class="btn btn-primary responsive">Export</button>
                                <img src="/images/treos-spinner_rotate-64x64.gif" class="ajaxSpinner hidden" style="height: 35px;" />
                            </td>
                        </tr>
                    </tbody>
                </table>

                <input type="hidden" id="FeesWithdrawalHistoryRecordOffset" value="0">
                <input type="hidden" id="FeesWithdrawalHistoryRecordCounter" value="25">
            </form>

        </div>

        <div id="FeesWithdrawalHistoryNavTop">
        </div>

        <div id="withdraw_fees_withdrawal_history">
            <table class="table table-striped report-table" style="width: unset; border: 1px solid grey; text-align: center">
                <thead>
                    <tr>
                        <th>Date (UTC)</th>
                        <th>Year</th>
                        <th>Month</th>
                        <th>Currency</th>
                        <th>Amount</th>
                        <th>Fee Spent</th>
                        <th>Recipient Address</th>
                        <th>Txn ID</th>
                    </tr>
                </thead>
                <tbody style="max-height: 150px; overflow-y: auto; overflow-x: visible;">
                </tbody>
            </table>
        </div>

        <div id="FeesWithdrawalHistoryNavBottom">
        </div>
    </div><!-- div_withdraw_fees_withdrawal_history -->

</div>

    

<div id="scatter-wait-modal" class="bootbox modal fade" role="dialog" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content" style="border-radius: 7px;">
            <div class="modal-body">
                <div class="bootbox-body">
                    <h1>Please Wait...</h1>
                    <p>
                        Scatter should appear shortly to confirm the withdrawal.
                    </p>
                    <p>
                        The withdrawal will be sent to the network afterwards.
                    </p>
                    <button type="button" id="btnScatterModalHide" class="btn btn-primary responsive">Hide</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="form-scatter-modal" class="bootbox modal fade" role="dialog" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content" style="border-radius: 7px;">
            <div class="modal-body">
                <a class="bootbox-close-button close" style="margin-top: -10px;">
                    <img id="close-popup-modal2" src="" val="agreement-modal">
                </a>
                <div class="bootbox-body">
                    <h1>Scatter Withdrawal</h1>
                    <form id="frmScatter">
                        <div style="display: table; width: 100%;">
                            <div style="display: table-row;">
                                <div style="display:table-cell;">
                                    <button type="submit" id="btnLaunchScatter" class="btn btn-primary responsive">Launch Scatter</button>
                                    <button type="button" id="btnScatterCancelWithdrawal" class="btn btn-danger responsive">Cancel Withdrawal</button>
                                </div>
                                <div style="display:table-cell; text-align: right;">
                                    <button type="button" id="btnScatterClose" class="btn btn-primary responsive">Close</button>
                                </div>
                            </div>
                        </div>
                        
                        <input type="hidden" id="ScatterWithdrawalID" value="">
                        <input type="hidden" id="ScatterRequestAmount" value="">
                        <input type="hidden" id="ScatterRequestFee_Withdrawal" value="">
                        <input type="hidden" id="ScatterRequestCurrency" value="">
                        <input type="hidden" id="ScatterRequestAddressTo" value="">
                        <input type="hidden" id="ScatterRequestMemo" value="">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="form-process-modal" class="bootbox modal fade" role="dialog" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content" style="border-radius: 7px;">
            <div class="modal-body">
                <a class="bootbox-close-button close" style="margin-top: -10px;">
                    <img id="close-popup-modal" src="" val="agreement-modal">
                </a>
                <div class="bootbox-body">
                    <h1>Process Withdrawal</h1>
                    <form id="frmProcessWithdrawal">
                        <table>
                            <tbody>
                                <tr>
                                    <th style="text-align: right; padding-right: 20px;">Currency</th>
                                    <td id="cellProcessCurrency"></td>
                                </tr>
                                <tr>
                                    <th style="text-align: right; padding-right: 20px;">Amount</th>
                                    <td id="cellProcessAmount"></td>
                                </tr>
                                <tr>
                                    <th style="text-align: right; padding-right: 20px;">Less Fee</th>
                                    <td id="cellProcessAmountLessFee"></td>
                                </tr>
                                <tr>
                                    <th style="text-align: right; padding-right: 20px;">Address</th>
                                    <td id="cellProcessAddressTo"></td>
                                </tr>
                                <tr>
                                    <td colspan="2" id="qrPlaceHolder" style="text-align: center;padding:20px;">
                                        
                                    </td>
                                </tr>
                                <tr id="row_memo" style="border-top: 1px solid darkgray; display: none;">
                                    <th style="text-align: right; padding-right: 20px;">Memo</th>
                                    <td id="cellProcessMemo"></td>
                                </tr>
                                <tr id="row_memo_qr" style="display: none;">
                                    <td colspan="2" id="qrPlaceHolder_Memo" style="text-align: center;padding:20px;">
                                        
                                    </td>
                                </tr>
                                <tr id="warningRow" class="hidden">
                                    <td colspan="2" id="warningText" style="text-align: center;padding:20px; color: red; font-weight: bold;">
                                        &nbsp;
                                    </td>
                                </tr>
                                <!-- <tr>
                                    <td colspan="2" style="text-align: center;">
                                        <a href="" id="lnkProcessHyperlink">Sample</a>
                                    </td>
                                </tr> -->
                                <tr>
                                    <th>&nbsp;</th>
                                    <td>After processing the withdrawal, copy and paste the Transaction ID and fee into the boxes below.</td>
                                </tr>
                                <tr>
                                    <th style="text-align: right; padding-right: 20px; white-space: nowrap">Txn ID</th>
                                    <td><input type="text" id="txtProcessTransactionID" class="form-control" autocomplete="off" value=""></td>
                                </tr>
                                <tr>
                                    <th>&nbsp;</th>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <th style="text-align: right; padding-right: 20px; white-space: nowrap">Members Fee</th>
                                    <td><input type="text" id="txtProcessFee" class="form-control" style="width: 200px; margin-right: 20px; margin-bottom: 10px;" autocomplete="off" value=""></td>
                                </tr>
                                <tr>
                                    <th style="text-align: right; padding-right: 20px; white-space: nowrap">Fee Spent</th>
                                    <td>
                                        <input type="text" id="txtProcessFeeSpent" class="form-control col-sm-10" style="width: 200px; margin-right: 20px;" autocomplete="off" value="">
                                        <button type="button" id="btnProcessLookupFee" class="btn btn-primary col-sm-2">Lookup</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <br/>
                        <br/>
                        <div style="display: table; width: 100%;">
                            <div style="display: table-row;">
                                <div style="display:table-cell;">
                                    <button type="submit" id="btnProcessSubmit" class="btn btn-primary responsive">Submit</button>
                                    <button type="button" id="btnProcessCancelWithdrawal" class="btn btn-danger responsive">Cancel Withdrawal</button>
                                </div>
                                <div style="display:table-cell; text-align: right;">
                                    <button type="button" id="btnProcessCancel" class="btn btn-primary responsive">Close</button>
                                </div>
                            </div>
                        </div>
                        
                        <input type="hidden" id="ProcessWithdrawalID" value="">
                        <img src="/images/treos-spinner_rotate-64x64.gif" class="ajaxSpinner hidden" style="height: 35px;" />
                    </form>
                </div><!-- bootbox-body -->
            </div>
        </div>
    </div>
</div><!-- form-process-modal -->


<div id="form-withdrawal-edit-modal" class="bootbox modal fade" role="dialog" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content" style="border-radius: 7px;">
            <div class="modal-body">
                <a class="bootbox-close-button close" style="margin-top: -10px;">
                    <img id="close-popup-modal" src="" val="agreement-modal">
                </a>
                <div class="bootbox-body">
                    <h1>Edit Withdrawal</h1>
                    <form id="frmWithdrawalEdit">
                        <table>
                            <tbody>
                                <tr>
                                    <th style="text-align: right; padding-right: 20px;">Currency</th>
                                    <td id="cellWithdrawalEditCurrency"></td>
                                </tr>
                                <tr>
                                    <th>&nbsp;</th>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <th style="text-align: right; padding-right: 20px; white-space: nowrap">Txn ID</th>
                                    <td><input type="text" id="txtWithdrawalEditTransactionID" class="form-control" autocomplete="off" value=""></td>
                                </tr>
                                <tr>
                                    <th>&nbsp;</th>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <th style="text-align: right; padding-right: 20px; white-space: nowrap">Members Fee</th>
                                    <td><input type="text" id="txtWithdrawalEditFee" class="form-control" style="width: 200px; margin-right: 20px; margin-bottom: 10px;" autocomplete="off" value=""></td>
                                </tr>
                                <tr>
                                    <th style="text-align: right; padding-right: 20px; white-space: nowrap">Fee Spent</th>
                                    <td>
                                        <input type="text" id="txtWithdrawalEditFeeSpent" class="form-control col-sm-10" style="width: 200px; margin-right: 20px;" autocomplete="off" value="">
                                        <button type="button" id="btnWithdrawalEditLookupFee" class="btn btn-primary">Lookup</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <br/>
                        <br/>
                        <div style="display: table; width: 100%;">
                            <div style="display: table-row;">
                                <div style="display:table-cell;">
                                    <button type="submit" id="btnWithdrawalEditSubmit" class="btn btn-primary responsive">Save</button>
                                </div>
                                <div style="display:table-cell; text-align: right;">
                                    <button type="button" id="btnWithdrawalEditCancel" class="btn btn-primary responsive">Close</button>
                                </div>
                            </div>
                        </div>
                        
                        <input type="hidden" id="WithdrawalEditWithdrawalID" value="">
                        <img src="/images/treos-spinner_rotate-64x64.gif" class="ajaxSpinner hidden" style="height: 35px;" />
                    </form>
                </div><!-- bootbox-body -->
            </div>
        </div>
    </div>
</div><!-- form-withdrawal-edit-modal -->


<div id="form-withdrawfees-modal" class="bootbox modal fade" role="dialog" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content" style="border-radius: 7px;">
            <div class="modal-body">
                <a class="bootbox-close-button close" style="margin-top: -10px;">
                    <img id="close-popup-modal" src="" val="agreement-modal">
                </a>
                <div class="bootbox-body">
                    <h1>Fee Withdrawal</h1>
                    <form id="frmWithdrawFees">
                        <table>
                            <tbody>
                                <tr>
                                    <th style="text-align: right; padding-right: 20px;">Currency</th>
                                    <td id="cellWithdrawFeesCurrency"></td>
                                </tr>
                                <tr>
                                    <th style="text-align: right; padding-right: 20px;">Amount</th>
                                    <td id="cellWithdrawFeesAmount"></td>
                                </tr>
                                <tr>
                                    <th style="text-align: right; padding-right: 20px;">Less Fee</th>
                                    <td id="cellWithdrawFeesAmountLessFee"></td>
                                </tr>
                                <tr>
                                    <th style="text-align: right; padding-right: 20px;">Address</th>
                                    <td id="cellWithdrawFeesAddressTo"></td>
                                </tr>
                                <tr>
                                    <td colspan="2" id="qrWithdrawFeesPlaceHolder" style="text-align: center;padding:20px;">
                                        
                                    </td>
                                </tr>
                                <tr id="withdrawFeesWarningRow" class="hidden">
                                    <td colspan="2" id="withdrawFeesWarningText" style="text-align: center;padding:20px; color: red; font-weight: bold;">
                                        &nbsp;
                                    </td>
                                </tr>
                                <!-- <tr>
                                    <td colspan="2" style="text-align: center;">
                                        <a href="" id="lnkProcessHyperlink">Sample</a>
                                    </td>
                                </tr> -->
                                <tr>
                                    <th>&nbsp;</th>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <th style="text-align: right; padding-right: 20px; white-space: nowrap">Fee Spent</th>
                                    <td>
                                        <input type="text" id="txtWithdrawFeesFeeSpent" class="form-control col-sm-10" style="width: 200px; margin-right: 20px;" autocomplete="off" value="">
                                    </td>
                                </tr>
                                <tr>
                                    <th>&nbsp;</th>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <th>&nbsp;</th>
                                    <td>After processing the withdrawal, copy and paste the Transaction ID into the box below.</td>
                                </tr>
                                <tr>
                                    <th style="text-align: right; padding-right: 20px; white-space: nowrap">Txn ID</th>
                                    <td><input type="text" id="txtWithdrawFeesTransactionID" class="form-control" autocomplete="off" value=""></td>
                                </tr>
                            </tbody>
                        </table>

                        <br/>
                        <br/>
                        <div style="display: table; width: 100%;">
                            <div style="display: table-row;">
                                <div style="display:table-cell;">
                                    <button type="submit" id="btnWithdrawFeesSubmit" class="btn btn-primary responsive">Submit</button>
                                </div>
                                <div style="display:table-cell; text-align: right;">
                                    <button type="button" id="btnWithdrawFeesCancel" class="btn btn-primary responsive">Close</button>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" id="WithdrawFeesYear" value="">
                        <input type="hidden" id="WithdrawFeesMonth" value="">
                        <img src="/images/treos-spinner_rotate-64x64.gif" class="ajaxSpinner hidden" style="height: 35px;" />
                    </form>
                </div><!-- bootbox-body -->
            </div>
        </div>
    </div>
</div><!-- form-withdrawfees-modal -->


<div id="form-withdrawal-cancel-modal" class="bootbox modal fade" role="dialog" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content" style="border-radius: 7px;">
            <div class="modal-body">
                <a class="bootbox-close-button close" style="margin-top: -10px;">
                    <img id="close-popup-cancel-modal" src="" val="agreement-modal">
                </a>
                <div class="bootbox-body">
                    <h1>Cancel Withdrawal</h1>
                    <form id="frmWithdrawalCancel">
                        <table>
                            <tbody>
                                <tr>
                                    <td colspan="2">Are you sure that you want to cancel this withdrawal request?</td>
                                </tr>
                                <tr>
                                    <th>&nbsp;</th>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <th style="text-align: right; vertical-align: top; padding-right: 20px; white-space: nowrap">Reason</th>
                                    <td>
                                        <textarea id="txtWithdrawalCancelReason" class="form-control" style="width:100%;" rows="5" maxlength="250" autocomplete="off" value=""></textarea>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <br/>
                        <br/>
                        <div style="display: table; width: 100%;">
                            <div style="display: table-row;">
                                <div style="display:table-cell;">
                                    <button type="submit" id="btnWithdrawalCancelSubmit" class="btn btn-danger responsive">Cancel Withdrawal</button>
                                </div>
                                <div style="display:table-cell; text-align: right;">
                                    <button type="button" id="btnWithdrawalCancelCancel" class="btn btn-primary responsive">Close</button>
                                </div>
                            </div>
                        </div>
                        
                        <input type="hidden" id="WithdrawalCancelWithdrawalID" value="">
                        <img src="/images/treos-spinner_rotate-64x64.gif" class="ajaxSpinner hidden" style="height: 35px;" />
                    </form>
                </div><!-- bootbox-body -->
            </div>
        </div>
    </div>
</div><!-- form-withdrawal-cancel-modal -->

<script src="/api.php?target=withdrawal_requests&endpoint=js%2Ftreos-scatter.js%3Ft=202004140032"></script>
<script src="/api.php?target=withdrawal_requests&endpoint=js%2Fadmin%2Fwithdrawal_requests.js%3Ft=202004140032"></script>
<script src="/api.php?target=withdrawal_requests&endpoint=js%2Fadmin%2Fwithdrawal_withdraw_history.js%3Ft=202004140032"></script>
<script src="/api.php?target=withdrawal_requests&endpoint=js%2Fadmin%2Fwithdrawal_withdraw_fees.js%3Ft=202004140032"></script>
<script src="/api.php?target=withdrawal_requests&endpoint=js%2Fadmin%2Fwithdrawal_fees_withdrawal_history.js%3Ft=202004140032"></script>
<script src="/api.php?target=withdrawal_requests&endpoint=js%2Ftro_converter.js%3Ft=202004140032"></script>

<!-- Copy to here -->

{{#section 'jsfoot'}}
    {{{renderScript '/js/responsive.js'}}}
    {{!-- {{{renderScript '/js/treos-scatter.js'}}} --}}
    {{!-- {{{renderScript '/js/withdrawal_requests.js'}}} --}}
{{/section}}
