<div id="leftMenu" data-spy="affix" data-offset-top="85">
    <ul class="menu main-menu">
        <!-- Start of My Account -->
        <!--<li class="menu-item vendor-account icon ">
            <div class="line">
                <a href="admin.php?target=profile" class="link" title="My account"><span class="icon"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                width="32px" height="30px" viewBox="-8 691.9 32 30" enable-background="new -8 691.9 32 30" xml:space="preserve"><g transform="translate(0.000000,572.000000) scale(0.100000,-0.100000)"><path d="M-23-1200.4c-5.2-1-7.2-1.7-11.9-4.1c-10.2-5.3-18.5-15.4-21.5-26.4c-0.7-2.5-1-5.4-1-11.1c0-8.6,0.6-11.7,3.8-18.4
                    c5-10.6,15.6-19.5,27.1-22.6c5.8-1.6,16.2-1.6,22.1,0c14.3,3.9,25.9,15.7,29.9,30.1c1.4,5.1,1.4,17.1,0.1,22
                    c-3.9,14.1-16,26.2-29.9,29.8C-9.8-1199.8-18.1-1199.5-23-1200.4z"/><path d="M169.3-1200.3c-15.4-2.1-29.3-13.8-34.1-28.9c-1.7-5.3-2.3-14.8-1.3-20.6c1.5-8.7,5.5-16.1,12.2-22.6
                    c7.2-7,15-10.7,25.2-11.8c12.8-1.4,24.4,2.7,33.7,11.8c9.3,9,13.2,19.2,12.6,32.7c-0.4,7.6-1.9,12.8-5.4,18.8
                    c-5.7,9.7-14.6,16.6-25.3,19.6C182.3-1200,174.5-1199.5,169.3-1200.3z"/><path d="M72.1-1242.7c-14.4-1.8-26.7-7.9-37.1-18.4c-9.6-9.7-15.3-20.5-17.6-33.6c-0.6-3.9-0.8-7.1-0.6-13.5
                    c0.3-9.3,1.4-15.1,4.6-22.6c5.1-12.2,17.4-25.3,29.5-31.6c17.5-9,39.3-9.2,56.8-0.7c12.5,6.2,23.5,17,29.7,29.7
                    c4.7,9.6,6.4,18.4,5.9,30.9c-0.4,12.4-3.4,21.7-10.1,31.8c-9.5,14.2-24,24.1-40.3,27.4C87.8-1242.4,77.1-1242,72.1-1242.7z"/><path d="M-61.9-1285.1c-9.1-2.8-14.5-15.2-16.4-38c-0.7-8.2-0.7-23.7,0.1-26.7c2-8.5,8.9-15,19.7-18.1c3.4-1,5.5-1.2,18.7-1.4
                    l14.8-0.3l4.4,4.2c10,9.9,20.3,14.9,34,16.6c2.9,0.4,5.4,0.7,5.5,0.8c0.1,0.1-0.8,1.8-2.1,3.8c-8,12.9-11.8,28.7-10.6,43.7
                    c0.2,2.8,0.3,5.1,0.3,5.2c-0.1,0.1-2.4-0.4-5.1-1.2c-17.1-4.5-31.5-2.2-52,8.2C-58.1-1284.6-59.3-1284.3-61.9-1285.1z"/><path d="M212.2-1287.8c-20.4-10.7-35.7-13.2-53.2-8.8c-2.9,0.7-5.3,1.3-5.3,1.2c-0.1-0.1,0.1-2.5,0.4-5.4
                    c1.3-14.9-2.9-31.4-11-44.2c-1-1.5-1.8-2.9-1.8-3c0-0.1,1.8-0.4,3.9-0.5c13.6-1.3,24.9-6.5,34.9-16.1l5.2-5l14.5,0.2
                    c12.7,0.2,15,0.4,18.6,1.4c5.8,1.6,10.2,4,13.9,7.8c3.4,3.4,5,6.2,6.1,10.8c0.9,3.8,0.4,24.9-0.8,33.5c-2.7,19.3-8.3,29.6-17,31
                    C218.6-1284.5,217.8-1284.8,212.2-1287.8z"/><path d="M13.7-1359.4c-22.2-2.9-37.5-19.3-44.8-48c-3.8-14.9-5.6-30.6-5.1-46.2c0.2-8.1,0.5-10.8,1.4-14
                    c3.8-13.1,12.7-22.3,25.5-26.5c8.1-2.7,8.1-2.7,88.9-2.7c76.1,0,80.7,0.1,87.5,2c14.8,4,25.4,15.2,28.4,30.1c1,4.8,1.1,6.5,0.8,18
                    c-0.3,13.3-1.1,20.4-3.3,31.6c-3.7,18.1-10.2,32.4-18.8,41.6c-7.9,8.5-18.2,13.3-30.7,14.4c-5.1,0.4-5.5,0.3-16.8-7.1
                    c-12.2-8-17.1-10.3-27.3-13.1c-7.2-2-11.5-2.5-19.4-2.5c-8.3,0-15.1,1.1-22.9,3.6c-8,2.6-13.4,5.3-22.6,11.2
                    C21.4-1358.3,21.6-1358.4,13.7-1359.4z"/></g></svg></span><span class="title">My account</span></a>
            </div>
            <div class="box">
                <ul>
                    <li class="menu-item title">
                        <div class="line">
                            <a href="admin.php?target=profile" class="link" title="My account"><span class="icon"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            width="32px" height="30px" viewBox="-8 691.9 32 30" enable-background="new -8 691.9 32 30" xml:space="preserve"><g transform="translate(0.000000,572.000000) scale(0.100000,-0.100000)"><path d="M-23-1200.4c-5.2-1-7.2-1.7-11.9-4.1c-10.2-5.3-18.5-15.4-21.5-26.4c-0.7-2.5-1-5.4-1-11.1c0-8.6,0.6-11.7,3.8-18.4
                                c5-10.6,15.6-19.5,27.1-22.6c5.8-1.6,16.2-1.6,22.1,0c14.3,3.9,25.9,15.7,29.9,30.1c1.4,5.1,1.4,17.1,0.1,22
                                c-3.9,14.1-16,26.2-29.9,29.8C-9.8-1199.8-18.1-1199.5-23-1200.4z"/><path d="M169.3-1200.3c-15.4-2.1-29.3-13.8-34.1-28.9c-1.7-5.3-2.3-14.8-1.3-20.6c1.5-8.7,5.5-16.1,12.2-22.6
                                c7.2-7,15-10.7,25.2-11.8c12.8-1.4,24.4,2.7,33.7,11.8c9.3,9,13.2,19.2,12.6,32.7c-0.4,7.6-1.9,12.8-5.4,18.8
                                c-5.7,9.7-14.6,16.6-25.3,19.6C182.3-1200,174.5-1199.5,169.3-1200.3z"/><path d="M72.1-1242.7c-14.4-1.8-26.7-7.9-37.1-18.4c-9.6-9.7-15.3-20.5-17.6-33.6c-0.6-3.9-0.8-7.1-0.6-13.5
                                c0.3-9.3,1.4-15.1,4.6-22.6c5.1-12.2,17.4-25.3,29.5-31.6c17.5-9,39.3-9.2,56.8-0.7c12.5,6.2,23.5,17,29.7,29.7
                                c4.7,9.6,6.4,18.4,5.9,30.9c-0.4,12.4-3.4,21.7-10.1,31.8c-9.5,14.2-24,24.1-40.3,27.4C87.8-1242.4,77.1-1242,72.1-1242.7z"/><path d="M-61.9-1285.1c-9.1-2.8-14.5-15.2-16.4-38c-0.7-8.2-0.7-23.7,0.1-26.7c2-8.5,8.9-15,19.7-18.1c3.4-1,5.5-1.2,18.7-1.4
                                l14.8-0.3l4.4,4.2c10,9.9,20.3,14.9,34,16.6c2.9,0.4,5.4,0.7,5.5,0.8c0.1,0.1-0.8,1.8-2.1,3.8c-8,12.9-11.8,28.7-10.6,43.7
                                c0.2,2.8,0.3,5.1,0.3,5.2c-0.1,0.1-2.4-0.4-5.1-1.2c-17.1-4.5-31.5-2.2-52,8.2C-58.1-1284.6-59.3-1284.3-61.9-1285.1z"/><path d="M212.2-1287.8c-20.4-10.7-35.7-13.2-53.2-8.8c-2.9,0.7-5.3,1.3-5.3,1.2c-0.1-0.1,0.1-2.5,0.4-5.4
                                c1.3-14.9-2.9-31.4-11-44.2c-1-1.5-1.8-2.9-1.8-3c0-0.1,1.8-0.4,3.9-0.5c13.6-1.3,24.9-6.5,34.9-16.1l5.2-5l14.5,0.2
                                c12.7,0.2,15,0.4,18.6,1.4c5.8,1.6,10.2,4,13.9,7.8c3.4,3.4,5,6.2,6.1,10.8c0.9,3.8,0.4,24.9-0.8,33.5c-2.7,19.3-8.3,29.6-17,31
                                C218.6-1284.5,217.8-1284.8,212.2-1287.8z"/><path d="M13.7-1359.4c-22.2-2.9-37.5-19.3-44.8-48c-3.8-14.9-5.6-30.6-5.1-46.2c0.2-8.1,0.5-10.8,1.4-14
                                c3.8-13.1,12.7-22.3,25.5-26.5c8.1-2.7,8.1-2.7,88.9-2.7c76.1,0,80.7,0.1,87.5,2c14.8,4,25.4,15.2,28.4,30.1c1,4.8,1.1,6.5,0.8,18
                                c-0.3,13.3-1.1,20.4-3.3,31.6c-3.7,18.1-10.2,32.4-18.8,41.6c-7.9,8.5-18.2,13.3-30.7,14.4c-5.1,0.4-5.5,0.3-16.8-7.1
                                c-12.2-8-17.1-10.3-27.3-13.1c-7.2-2-11.5-2.5-19.4-2.5c-8.3,0-15.1,1.1-22.9,3.6c-8,2.6-13.4,5.3-22.6,11.2
                                C21.4-1358.3,21.6-1358.4,13.7-1359.4z"/></g></svg></span><span class="title">My account</span></a>
                        </div>
                    </li>
                    <li class="menu-item vendor no-icon  empty">
                        <div class="line">
                            <a href="admin.php?target=vendor" class="link" title="Company details"><span class="icon"></span><span class="title">Company details</span></a>
                        </div>
                    </li>
                    <li class="menu-item financialInfo no-icon  empty">
                        <div class="line">
                            <a href="admin.php?target=financialInfo" class="link" title="Wallet"><span class="icon"></span><span class="title">Wallet</span></a>
                        </div>
                    </li>
                    <li class="menu-item companyAddress no-icon  empty">
                        <div class="line">
                            <a href="admin.php?target=companyAddress" class="link" title="Company address"><span class="icon"></span><span class="title">Company address</span></a>
                        </div>
                    </li>
                    <li class="menu-item profile no-icon  empty">
                        <div class="line">
                            <a href="admin.php?target=profile" class="link" title="Account details"><span class="icon"></span><span class="title">Account details</span></a>
                        </div>
                    </li>
                    <li class="menu-item profile-transactions no-icon  empty">
                        <div class="line">
                            <a href="admin.php?target=profile_transactions" class="link" title="My transactions"><span class="icon"></span><span class="title">My transactions</span></a>
                        </div>
                    </li>
                    <li class="menu-item two-fa no-icon  empty">
                        <div class="line">
                            <a href="admin.php?target=two_fa" class="link" title="2FA Settings"><span class="icon"></span><span class="title">2FA Settings</span></a>
                        </div>
                    </li>
                    <li class="menu-item vendor-partners no-icon  empty">
                        <div class="line">
                            <a href="admin.php?target=vendor_partners" class="link" title="Staff members"><span class="icon"></span><span class="title">Staff members</span></a>
                        </div>
                    </li>
                </ul>
            </div>
        </li>-->
<!-- End of My Account -->

<!-- Start of Orders -->
        <!--<li class="menu-item sales icon ">
  
<div class="line">
      <a href="admin.php?target=order_list" class="link" title="Orders"><span class="icon"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="32.2px" height="28.2px" viewBox="0 0 32.2 28.2" enable-background="new 0 0 32.2 28.2" xml:space="preserve"><g transform="translate(0.000000,480.000000) scale(0.100000,-0.100000)"><path d="M59.8,4798.2c-0.3-0.9-13.8-36.9-30.1-80.4l-29.5-78.8v-60.2v-60.2h160.5h160.5v60.4l-0.1,60.3l-30,80l-30.1,80l-30.2,0.2
		l-30.2,0.1v-20.1v-20.1h17.6H236l22.5-60l22.5-60l-40-0.2l-40-0.1l-0.7-2.6c-0.4-1.3-2.4-9.3-4.4-17.5c-2.1-8.3-4-16.2-4.4-17.5
		l-0.7-2.6h-30h-30.1l-0.7,2.6c-0.4,1.3-2.4,9.3-4.4,17.5c-2,8.3-4,16.2-4.4,17.5l-0.7,2.6l-40,0.1l-40,0.2l22.5,60l22.5,60H103
		h17.6v20.1v20.1H90.6H60.5L59.8,4798.2z"/><path d="M141.9,4759.8v-40.3l-25-0.1l-25.1-0.2l35.1-35.1L162,4649l34.9,34.9c19.2,19.2,34.9,35.1,34.9,35.3s-11.2,0.4-24.9,0.4
		H182v40.3l-0.2,39.7H162h-20.2L141.9,4759.8z"/></g></svg></span><span class="title">Orders</span></a>
      </div>

      <div class="box">
      <ul>
        <li class="menu-item title">
          
<div class="line">
      <a href="admin.php?target=order_list" class="link" title="Orders"><span class="icon"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="32.2px" height="28.2px" viewBox="0 0 32.2 28.2" enable-background="new 0 0 32.2 28.2" xml:space="preserve"><g transform="translate(0.000000,480.000000) scale(0.100000,-0.100000)"><path d="M59.8,4798.2c-0.3-0.9-13.8-36.9-30.1-80.4l-29.5-78.8v-60.2v-60.2h160.5h160.5v60.4l-0.1,60.3l-30,80l-30.1,80l-30.2,0.2
		l-30.2,0.1v-20.1v-20.1h17.6H236l22.5-60l22.5-60l-40-0.2l-40-0.1l-0.7-2.6c-0.4-1.3-2.4-9.3-4.4-17.5c-2.1-8.3-4-16.2-4.4-17.5
		l-0.7-2.6h-30h-30.1l-0.7,2.6c-0.4,1.3-2.4,9.3-4.4,17.5c-2,8.3-4,16.2-4.4,17.5l-0.7,2.6l-40,0.1l-40,0.2l22.5,60l22.5,60H103
		h17.6v20.1v20.1H90.6H60.5L59.8,4798.2z"/><path d="M141.9,4759.8v-40.3l-25-0.1l-25.1-0.2l35.1-35.1L162,4649l34.9,34.9c19.2,19.2,34.9,35.1,34.9,35.3s-11.2,0.4-24.9,0.4
		H182v40.3l-0.2,39.7H162h-20.2L141.9,4759.8z"/></g></svg></span><span class="title">Orders</span></a>
      </div>
        </li>
                  
<li class="menu-item order-list no-icon  empty">
  
<div class="line">
      <a href="admin.php?target=order_list" class="link" title="Orders list"><span class="icon"></span><span class="title">Orders list</span></a>
      </div>

  </li>

                  
<li class="menu-item orders-stats no-icon  empty">
  
<div class="line">
      <a href="admin.php?target=orders_stats" class="link" title="Statistics"><span class="icon"></span><span class="title">Statistics</span></a>
      </div>

  </li>

                  
<li class="menu-item vendor-ratings no-icon  empty">
  
<div class="line">
      <a href="admin.php?target=vendor_ratings" class="link" title="Order ratings"><span class="icon"></span><span class="title">Order ratings</span></a>
      </div>

  </li>

                  
<li class="menu-item messages no-icon  empty">
  
<div class="line">
      <a href="admin.php?target=messages" class="link" title="Messages"><span class="icon"></span><span class="title">Messages</span></a>
      </div>

  </li>

                
      </ul>
    </div>
        </li>-->
<!-- End of Orders -->

<!-- Start of Catalog -->
        <!--<li class="menu-item catalog icon ">
  
<div class="line">
      <span class="link" title="Catalog"><span class="icon"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="32px" height="25.6px" viewBox="48 698.1 32 25.6" enable-background="new 48 698.1 32 25.6" xml:space="preserve"><g transform="translate(0.000000,580.000000) scale(0.100000,-0.100000)"><path d="M497.3-1183.2c-7.9-2.1-14.3-9.1-15.6-17c-0.4-2-0.4-15-0.4-41c0.2-37.2,0.2-38.2,1.1-41.7c2.3-8.6,6.1-16.8,10.4-22.5
		c1.5-1.9,29.3-30.1,64.5-65.2c50.1-50.1,62.3-62,64-62.8c6.8-3.1,12.8-3,19.5,0.2c3.3,1.6,4.6,2.9,46.4,44.9
		c39.5,39.6,43.2,43.5,44.7,46.4c3.3,6.2,3.3,12.8,0.1,19.4c-1.7,3.3-3,4.7-63.9,65.4c-34.5,34.3-63.5,62.8-65,63.9
		c-5.4,3.8-13.6,7.5-21.5,9.6c-3.5,0.9-4.3,0.9-42.6,1.1C503.5-1182.5,499.9-1182.5,497.3-1183.2z M540.3-1215.2
		c3.7-1,6.5-2.6,9.5-5.7c3-3,4.7-5.8,5.7-9.5c1.3-5.2,0.6-11.4-1.9-15.9c-1.5-2.8-5.8-7-8.5-8.5c-6.3-3.4-14.7-3.3-20.9,0.1
		c-2.9,1.7-6.8,5.6-8.3,8.4c-3.3,6.1-3.3,14.5,0,20.6c1.5,2.8,5.8,7,8.6,8.5C529-1214.6,535.2-1213.9,540.3-1215.2z"/><path d="M607.5-1183.3c7.7-1.7,17.5-5.9,23.5-10.3c3.2-2.3,125-123.9,126.7-126.6c4.4-6.5,4.7-15.3,1-22.6
		c-0.8-1.7-11.2-12.3-41.5-42.7l-40.4-40.5l2-2.1c2.7-2.7,7-5.8,9.4-6.6c2.7-1,7.7-1.3,10.9-0.7c1.5,0.3,4.2,1.2,6,2.1
		c3.3,1.6,4.5,2.9,46.4,44.9c23.7,23.8,43.4,43.9,44,44.6c1.5,2.2,2.8,6.3,3.1,9.5c0.4,4-0.4,7.6-2.3,11.7
		c-1.6,3.3-3.1,4.8-63.8,65.3c-34.5,34.3-63.5,62.8-65,63.9c-3.8,2.8-10.7,6.1-16.1,7.9c-7.6,2.5-11.1,2.9-30.5,2.8l-17.2,0
		L607.5-1183.3z"/></g></svg></span><span class="title">Catalog</span></span>
      </div>

      <div class="box">
      <ul>
        <li class="menu-item title">
          
<div class="line">
      <span class="link" title="Catalog"><span class="icon"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="32px" height="25.6px" viewBox="48 698.1 32 25.6" enable-background="new 48 698.1 32 25.6" xml:space="preserve"><g transform="translate(0.000000,580.000000) scale(0.100000,-0.100000)"><path d="M497.3-1183.2c-7.9-2.1-14.3-9.1-15.6-17c-0.4-2-0.4-15-0.4-41c0.2-37.2,0.2-38.2,1.1-41.7c2.3-8.6,6.1-16.8,10.4-22.5
		c1.5-1.9,29.3-30.1,64.5-65.2c50.1-50.1,62.3-62,64-62.8c6.8-3.1,12.8-3,19.5,0.2c3.3,1.6,4.6,2.9,46.4,44.9
		c39.5,39.6,43.2,43.5,44.7,46.4c3.3,6.2,3.3,12.8,0.1,19.4c-1.7,3.3-3,4.7-63.9,65.4c-34.5,34.3-63.5,62.8-65,63.9
		c-5.4,3.8-13.6,7.5-21.5,9.6c-3.5,0.9-4.3,0.9-42.6,1.1C503.5-1182.5,499.9-1182.5,497.3-1183.2z M540.3-1215.2
		c3.7-1,6.5-2.6,9.5-5.7c3-3,4.7-5.8,5.7-9.5c1.3-5.2,0.6-11.4-1.9-15.9c-1.5-2.8-5.8-7-8.5-8.5c-6.3-3.4-14.7-3.3-20.9,0.1
		c-2.9,1.7-6.8,5.6-8.3,8.4c-3.3,6.1-3.3,14.5,0,20.6c1.5,2.8,5.8,7,8.6,8.5C529-1214.6,535.2-1213.9,540.3-1215.2z"/><path d="M607.5-1183.3c7.7-1.7,17.5-5.9,23.5-10.3c3.2-2.3,125-123.9,126.7-126.6c4.4-6.5,4.7-15.3,1-22.6
		c-0.8-1.7-11.2-12.3-41.5-42.7l-40.4-40.5l2-2.1c2.7-2.7,7-5.8,9.4-6.6c2.7-1,7.7-1.3,10.9-0.7c1.5,0.3,4.2,1.2,6,2.1
		c3.3,1.6,4.5,2.9,46.4,44.9c23.7,23.8,43.4,43.9,44,44.6c1.5,2.2,2.8,6.3,3.1,9.5c0.4,4-0.4,7.6-2.3,11.7
		c-1.6,3.3-3.1,4.8-63.8,65.3c-34.5,34.3-63.5,62.8-65,63.9c-3.8,2.8-10.7,6.1-16.1,7.9c-7.6,2.5-11.1,2.9-30.5,2.8l-17.2,0
		L607.5-1183.3z"/></g></svg></span><span class="title">Catalog</span></span>
      </div>
        </li>
                  
<li class="menu-item product-list no-icon  empty">
  
<div class="line">
      <a href="admin.php?target=product_list" class="link" title="Products"><span class="icon"></span><span class="title">Products</span></a>
      </div>

  </li>

                  
<li class="menu-item reviews no-icon  empty">
  
<div class="line">
      <a href="admin.php?target=reviews" class="link" title="Reviews"><span class="icon"></span><span class="title">Reviews</span></a>
      </div>

  </li>

                  
<li class="menu-item global-tabs no-icon  empty">
  
<div class="line">
      <a href="admin.php?target=global_tabs" class="link" title="Product tabs"><span class="icon"></span><span class="title">Product tabs</span></a>
      </div>

  </li>

                  
<li class="menu-item product-classes no-icon  empty">
  
<div class="line">
      <a href="admin.php?target=product_classes" class="link" title="Classes &amp; attributes"><span class="icon"></span><span class="title">Classes & attributes</span></a>
      </div>

  </li>

                  
<li class="menu-item update-inventory no-icon  empty">
  
<div class="line">
      <a href="admin.php?target=update_inventory" class="link" title="Update quantity"><span class="icon"></span><span class="title">Update quantity</span></a>
      </div>

  </li>

-->

<li class="menu-item import no-icon  empty">
    <div class="line">
        <a href="/admin/crypto_withdrawal" class="link" title="Crypto Withdrawal"><span class="icon"></span><span class="title">Crypto Withdrawal</span></a>
    </div>
</li>

<li class="menu-item import no-icon  empty">
    <div class="line">
        <a href="/admin/eos_wallet_generator" class="link" title="EOS Wallet Generator (Admin)"><span class="icon"></span><span class="title">EOS Wallet Generator (Admin)</span></a>
    </div>
</li>

<li class="menu-item import no-icon  empty">
    <div class="line">
        <a href="/vendor/eos_wallet_generator" class="link" title="EOS Wallet Generator"><span class="icon"></span><span class="title">EOS Wallet Generator</span></a>
    </div>
</li>

<li class="menu-item import no-icon  empty">
  
<div class="line">
      <a href="/vendor/csv_converter" class="link" title="CSV Converter"><span class="icon"></span><span class="title">CSV Converter</span></a>
      </div>

  </li>

<!--               
<li class="menu-item export no-icon  empty">
  
    <div class="line">
      <a href="admin.php?target=export" class="link" title="Export"><span class="icon"></span><span class="title">Export</span></a>
      </div>

  </li>

                
      </ul>
    </div>
        </li>-->
<!-- End of Catalog -->

        <li class="menu-item import no-icon  empty">

            <div class="line">
                <a href="/admin/withdrawal_requests" class="link" title="Import"><span class="icon"></span><span class="title">Withdrawal Requests</span></a>
            </div>

        </li>

<!-- Start of Wishlist -->              
        <li class="menu-item treos-wishlist icon active pre-expanded">
            <div class="line">
                <span class="link" title="Wishlist"><span class="icon"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                width="32px" height="32px" viewBox="-19 698.9 32 32" enable-background="new -19 698.9 32 32" xml:space="preserve"><g transform="translate(0.000000,588.000000) scale(0.100000,-0.100000)"><path d="M-55.8-1110.2c-2.1-0.6-3.8-2.6-4.6-5.4c-0.8-2.9-3.6-19.5-4.7-28c-1.4-11.6-1-10.4-4.4-11.6c-1.7-0.5-5.9-2.2-9.2-3.7
                    c-3.4-1.5-6.4-2.7-6.6-2.7c-0.2,0-7,5.1-15.1,11.3c-8.1,6.2-15.3,11.6-16.1,11.9c-2.5,1-4.4,0.6-7.7-1.5
                    c-8.3-5.4-32.4-29.8-35.6-36.1c-2.1-4.1-1.6-5.3,6.4-15c6.1-7.4,16.4-21.1,16.4-21.8c0-0.3-1.1-2.9-2.4-5.7c-1.3-2.9-3.1-7.1-4-9.5
                    c-0.8-2.4-1.7-4.3-1.9-4.3c-0.8,0-37.4-5.6-38.6-5.9c-2-0.6-4.5-3.8-4.9-6.4c-0.2-1.3-0.3-12.9-0.2-25.9l0.2-23.5l1.3-1.8
                    c0.7-0.9,1.7-2,2.2-2.3c0.6-0.3,9.8-1.8,20.6-3.4l19.6-2.9l1.7-5c1.3-3.9,4.9-12.2,6.6-15.3c0.2-0.3-5.7-8.1-16.3-21.7
                    c-6.4-8.2-6.9-9.2-6.6-12.5c0.4-4,2.9-7.1,18.6-22.7c16.5-16.4,18.6-18.2,21.8-18.2c2.9,0,3.4,0.3,19.8,12.8
                    c7.4,5.6,13.8,10.4,14.1,10.6c0.3,0.2,2.7-0.5,5.3-1.7c2.5-1.1,6.7-2.8,9.3-3.8l4.7-1.8l3.2-20.4l3.1-20.4l1.8-1.5
                    c1-0.8,2.8-1.7,4-1.8c1.3-0.2,13-0.3,26-0.2c26.3,0.2,25.8,0.1,27.6,3.7c1.4,2.7,3.6,15.4,6.7,38.5c0.3,2.2,0.4,2.3,4,3.5
                    c2,0.7,6.1,2.4,9,3.6c2.9,1.3,5.6,2.4,6,2.4c0.3,0,6.9-4.9,14.5-10.9c7.7-6,14.8-11.3,15.9-11.9c3.9-2,6.4-1.1,13.9,5.1
                    c8.1,6.7,23.7,22.8,29.3,30.4c2.4,3.2,2.8,5.7,1.4,8.4c-0.4,0.8-3.3,4.6-6.3,8.3c-3,3.8-8.1,10.3-11.3,14.5l-5.8,7.7l1.8,3.6
                    c1,2,2.8,6.3,4.1,9.5l2.3,5.9l7.8,1.2c34.5,5.3,31.8,4.8,33.6,6.5c0.9,0.8,1.9,2.5,2.2,3.6c0.3,1.3,0.5,11,0.4,26.3l-0.2,24.2
                    l-1.3,1.8c-0.7,0.9-1.7,2-2.3,2.3c-0.5,0.3-9.3,1.8-19.5,3.3c-10.1,1.5-19,2.9-19.6,3.1c-0.9,0.2-1.6,1.4-2.9,5.3
                    c-1,2.7-2.9,7.2-4.3,9.9c-1.8,3.7-2.3,5.3-1.9,6c0.3,0.5,4.8,6.4,10,13.1c12.4,16,12.7,16.4,12.7,19.6c0,2.3-0.4,3.1-2.8,6.4
                    c-3.3,4.4-31,32.2-33.8,33.9c-2,1.2-5.6,1.4-7.4,0.4c-0.6-0.4-7.6-5.5-15.5-11.5c-7.9-5.9-14.6-10.9-15-11.2
                    c-0.3-0.2-2.3,0.4-4.4,1.3c-2,0.9-6.2,2.7-9.3,3.8l-5.5,2.2L3.1-1134c-3.3,21.7-3.5,22.4-7.2,23.7
                    C-6.4-1109.6-53.1-1109.4-55.8-1110.2z M-15.5-1217.6c9.5-2.8,16.5-7.1,23.7-14.5c6.8-7,10.6-13.6,13.3-23.3
                    c1.1-3.7,1.3-5.6,1.2-13.4c0-9.9-0.8-14.1-3.9-21.2c-3.4-7.7-10.3-16.2-17.5-21.8c-4.3-3.3-12.1-7-17.7-8.6c-6.4-1.7-20.7-1.7-27,0
                    c-9.2,2.5-16.1,6.5-23.4,13.5c-10.3,9.9-15.4,21.2-16.1,35.5c-0.7,15.3,3.9,27.7,14.2,38.6c7.1,7.6,14.2,12,23,14.8
                    c6.2,1.9,8.7,2.2,17.3,2C-21.7-1216.1-19.5-1216.4-15.5-1217.6z"/></g></svg></span><span class="title">Wishlist</span></span>
            </div>
            <div class="box">
                <ul>
                    <li class="menu-item title">
                        <div class="line">
                            <span class="link" title="Wishlist"><span class="icon"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            width="32px" height="32px" viewBox="-19 698.9 32 32" enable-background="new -19 698.9 32 32" xml:space="preserve"><g transform="translate(0.000000,588.000000) scale(0.100000,-0.100000)"><path d="M-55.8-1110.2c-2.1-0.6-3.8-2.6-4.6-5.4c-0.8-2.9-3.6-19.5-4.7-28c-1.4-11.6-1-10.4-4.4-11.6c-1.7-0.5-5.9-2.2-9.2-3.7
                                c-3.4-1.5-6.4-2.7-6.6-2.7c-0.2,0-7,5.1-15.1,11.3c-8.1,6.2-15.3,11.6-16.1,11.9c-2.5,1-4.4,0.6-7.7-1.5
                                c-8.3-5.4-32.4-29.8-35.6-36.1c-2.1-4.1-1.6-5.3,6.4-15c6.1-7.4,16.4-21.1,16.4-21.8c0-0.3-1.1-2.9-2.4-5.7c-1.3-2.9-3.1-7.1-4-9.5
                                c-0.8-2.4-1.7-4.3-1.9-4.3c-0.8,0-37.4-5.6-38.6-5.9c-2-0.6-4.5-3.8-4.9-6.4c-0.2-1.3-0.3-12.9-0.2-25.9l0.2-23.5l1.3-1.8
                                c0.7-0.9,1.7-2,2.2-2.3c0.6-0.3,9.8-1.8,20.6-3.4l19.6-2.9l1.7-5c1.3-3.9,4.9-12.2,6.6-15.3c0.2-0.3-5.7-8.1-16.3-21.7
                                c-6.4-8.2-6.9-9.2-6.6-12.5c0.4-4,2.9-7.1,18.6-22.7c16.5-16.4,18.6-18.2,21.8-18.2c2.9,0,3.4,0.3,19.8,12.8
                                c7.4,5.6,13.8,10.4,14.1,10.6c0.3,0.2,2.7-0.5,5.3-1.7c2.5-1.1,6.7-2.8,9.3-3.8l4.7-1.8l3.2-20.4l3.1-20.4l1.8-1.5
                                c1-0.8,2.8-1.7,4-1.8c1.3-0.2,13-0.3,26-0.2c26.3,0.2,25.8,0.1,27.6,3.7c1.4,2.7,3.6,15.4,6.7,38.5c0.3,2.2,0.4,2.3,4,3.5
                                c2,0.7,6.1,2.4,9,3.6c2.9,1.3,5.6,2.4,6,2.4c0.3,0,6.9-4.9,14.5-10.9c7.7-6,14.8-11.3,15.9-11.9c3.9-2,6.4-1.1,13.9,5.1
                                c8.1,6.7,23.7,22.8,29.3,30.4c2.4,3.2,2.8,5.7,1.4,8.4c-0.4,0.8-3.3,4.6-6.3,8.3c-3,3.8-8.1,10.3-11.3,14.5l-5.8,7.7l1.8,3.6
                                c1,2,2.8,6.3,4.1,9.5l2.3,5.9l7.8,1.2c34.5,5.3,31.8,4.8,33.6,6.5c0.9,0.8,1.9,2.5,2.2,3.6c0.3,1.3,0.5,11,0.4,26.3l-0.2,24.2
                                l-1.3,1.8c-0.7,0.9-1.7,2-2.3,2.3c-0.5,0.3-9.3,1.8-19.5,3.3c-10.1,1.5-19,2.9-19.6,3.1c-0.9,0.2-1.6,1.4-2.9,5.3
                                c-1,2.7-2.9,7.2-4.3,9.9c-1.8,3.7-2.3,5.3-1.9,6c0.3,0.5,4.8,6.4,10,13.1c12.4,16,12.7,16.4,12.7,19.6c0,2.3-0.4,3.1-2.8,6.4
                                c-3.3,4.4-31,32.2-33.8,33.9c-2,1.2-5.6,1.4-7.4,0.4c-0.6-0.4-7.6-5.5-15.5-11.5c-7.9-5.9-14.6-10.9-15-11.2
                                c-0.3-0.2-2.3,0.4-4.4,1.3c-2,0.9-6.2,2.7-9.3,3.8l-5.5,2.2L3.1-1134c-3.3,21.7-3.5,22.4-7.2,23.7
                                C-6.4-1109.6-53.1-1109.4-55.8-1110.2z M-15.5-1217.6c9.5-2.8,16.5-7.1,23.7-14.5c6.8-7,10.6-13.6,13.3-23.3
                                c1.1-3.7,1.3-5.6,1.2-13.4c0-9.9-0.8-14.1-3.9-21.2c-3.4-7.7-10.3-16.2-17.5-21.8c-4.3-3.3-12.1-7-17.7-8.6c-6.4-1.7-20.7-1.7-27,0
                                c-9.2,2.5-16.1,6.5-23.4,13.5c-10.3,9.9-15.4,21.2-16.1,35.5c-0.7,15.3,3.9,27.7,14.2,38.6c7.1,7.6,14.2,12,23,14.8
                                c6.2,1.9,8.7,2.2,17.3,2C-21.7-1216.1-19.5-1216.4-15.5-1217.6z"/></g></svg></span><span class="title">Wishlist</span></span>
                        </div>
                    </li>
                    <li class="menu-item wishlist-add-item no-icon active empty">
                        <div class="line">
                            <a href="/vendor/wishlist_add_item" class="link" title="Add an Item"><span class="icon"></span><span class="title">Add an Item</span></a>
                        </div>
                    </li>
                    <!--<li class="menu-item wishlist-items no-icon empty">
                        <div class="line">
                            <a href="admin.php?target=wish_list_items" class="link" title="My Wishlist Items"><span class="icon"></span><span class="title">My Wishlist Items</span></a>
                        </div>
                    </li>
                    <li class="menu-item wishlist-purchased-items no-icon  empty">
                        <div class="line">
                            <a href="admin.php?target=wish_list_purchased_items" class="link" title="Purchased Items"><span class="icon"></span><span class="title">Purchased Items</span></a>
                        </div>
                    </li>-->
                </ul>
            </div>
        </li>
<!-- End of Wishlist -->              

<!-- Start of Playground -->              
        <li class="menu-item treos-playground icon active pre-expanded">
            <div class="line">
                <span class="link" title="Wishlist"><span class="icon"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                width="32px" height="32px" viewBox="-19 698.9 32 32" enable-background="new -19 698.9 32 32" xml:space="preserve"><g transform="translate(0.000000,588.000000) scale(0.100000,-0.100000)"><path d="M-55.8-1110.2c-2.1-0.6-3.8-2.6-4.6-5.4c-0.8-2.9-3.6-19.5-4.7-28c-1.4-11.6-1-10.4-4.4-11.6c-1.7-0.5-5.9-2.2-9.2-3.7
                    c-3.4-1.5-6.4-2.7-6.6-2.7c-0.2,0-7,5.1-15.1,11.3c-8.1,6.2-15.3,11.6-16.1,11.9c-2.5,1-4.4,0.6-7.7-1.5
                    c-8.3-5.4-32.4-29.8-35.6-36.1c-2.1-4.1-1.6-5.3,6.4-15c6.1-7.4,16.4-21.1,16.4-21.8c0-0.3-1.1-2.9-2.4-5.7c-1.3-2.9-3.1-7.1-4-9.5
                    c-0.8-2.4-1.7-4.3-1.9-4.3c-0.8,0-37.4-5.6-38.6-5.9c-2-0.6-4.5-3.8-4.9-6.4c-0.2-1.3-0.3-12.9-0.2-25.9l0.2-23.5l1.3-1.8
                    c0.7-0.9,1.7-2,2.2-2.3c0.6-0.3,9.8-1.8,20.6-3.4l19.6-2.9l1.7-5c1.3-3.9,4.9-12.2,6.6-15.3c0.2-0.3-5.7-8.1-16.3-21.7
                    c-6.4-8.2-6.9-9.2-6.6-12.5c0.4-4,2.9-7.1,18.6-22.7c16.5-16.4,18.6-18.2,21.8-18.2c2.9,0,3.4,0.3,19.8,12.8
                    c7.4,5.6,13.8,10.4,14.1,10.6c0.3,0.2,2.7-0.5,5.3-1.7c2.5-1.1,6.7-2.8,9.3-3.8l4.7-1.8l3.2-20.4l3.1-20.4l1.8-1.5
                    c1-0.8,2.8-1.7,4-1.8c1.3-0.2,13-0.3,26-0.2c26.3,0.2,25.8,0.1,27.6,3.7c1.4,2.7,3.6,15.4,6.7,38.5c0.3,2.2,0.4,2.3,4,3.5
                    c2,0.7,6.1,2.4,9,3.6c2.9,1.3,5.6,2.4,6,2.4c0.3,0,6.9-4.9,14.5-10.9c7.7-6,14.8-11.3,15.9-11.9c3.9-2,6.4-1.1,13.9,5.1
                    c8.1,6.7,23.7,22.8,29.3,30.4c2.4,3.2,2.8,5.7,1.4,8.4c-0.4,0.8-3.3,4.6-6.3,8.3c-3,3.8-8.1,10.3-11.3,14.5l-5.8,7.7l1.8,3.6
                    c1,2,2.8,6.3,4.1,9.5l2.3,5.9l7.8,1.2c34.5,5.3,31.8,4.8,33.6,6.5c0.9,0.8,1.9,2.5,2.2,3.6c0.3,1.3,0.5,11,0.4,26.3l-0.2,24.2
                    l-1.3,1.8c-0.7,0.9-1.7,2-2.3,2.3c-0.5,0.3-9.3,1.8-19.5,3.3c-10.1,1.5-19,2.9-19.6,3.1c-0.9,0.2-1.6,1.4-2.9,5.3
                    c-1,2.7-2.9,7.2-4.3,9.9c-1.8,3.7-2.3,5.3-1.9,6c0.3,0.5,4.8,6.4,10,13.1c12.4,16,12.7,16.4,12.7,19.6c0,2.3-0.4,3.1-2.8,6.4
                    c-3.3,4.4-31,32.2-33.8,33.9c-2,1.2-5.6,1.4-7.4,0.4c-0.6-0.4-7.6-5.5-15.5-11.5c-7.9-5.9-14.6-10.9-15-11.2
                    c-0.3-0.2-2.3,0.4-4.4,1.3c-2,0.9-6.2,2.7-9.3,3.8l-5.5,2.2L3.1-1134c-3.3,21.7-3.5,22.4-7.2,23.7
                    C-6.4-1109.6-53.1-1109.4-55.8-1110.2z M-15.5-1217.6c9.5-2.8,16.5-7.1,23.7-14.5c6.8-7,10.6-13.6,13.3-23.3
                    c1.1-3.7,1.3-5.6,1.2-13.4c0-9.9-0.8-14.1-3.9-21.2c-3.4-7.7-10.3-16.2-17.5-21.8c-4.3-3.3-12.1-7-17.7-8.6c-6.4-1.7-20.7-1.7-27,0
                    c-9.2,2.5-16.1,6.5-23.4,13.5c-10.3,9.9-15.4,21.2-16.1,35.5c-0.7,15.3,3.9,27.7,14.2,38.6c7.1,7.6,14.2,12,23,14.8
                    c6.2,1.9,8.7,2.2,17.3,2C-21.7-1216.1-19.5-1216.4-15.5-1217.6z"/></g></svg></span><span class="title">Playground</span></span>
            </div>
            <div class="box">
                <ul>
                    <li class="menu-item title">
                        <div class="line">
                            <span class="link" title="Wishlist"><span class="icon"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            width="32px" height="32px" viewBox="-19 698.9 32 32" enable-background="new -19 698.9 32 32" xml:space="preserve"><g transform="translate(0.000000,588.000000) scale(0.100000,-0.100000)"><path d="M-55.8-1110.2c-2.1-0.6-3.8-2.6-4.6-5.4c-0.8-2.9-3.6-19.5-4.7-28c-1.4-11.6-1-10.4-4.4-11.6c-1.7-0.5-5.9-2.2-9.2-3.7
                                c-3.4-1.5-6.4-2.7-6.6-2.7c-0.2,0-7,5.1-15.1,11.3c-8.1,6.2-15.3,11.6-16.1,11.9c-2.5,1-4.4,0.6-7.7-1.5
                                c-8.3-5.4-32.4-29.8-35.6-36.1c-2.1-4.1-1.6-5.3,6.4-15c6.1-7.4,16.4-21.1,16.4-21.8c0-0.3-1.1-2.9-2.4-5.7c-1.3-2.9-3.1-7.1-4-9.5
                                c-0.8-2.4-1.7-4.3-1.9-4.3c-0.8,0-37.4-5.6-38.6-5.9c-2-0.6-4.5-3.8-4.9-6.4c-0.2-1.3-0.3-12.9-0.2-25.9l0.2-23.5l1.3-1.8
                                c0.7-0.9,1.7-2,2.2-2.3c0.6-0.3,9.8-1.8,20.6-3.4l19.6-2.9l1.7-5c1.3-3.9,4.9-12.2,6.6-15.3c0.2-0.3-5.7-8.1-16.3-21.7
                                c-6.4-8.2-6.9-9.2-6.6-12.5c0.4-4,2.9-7.1,18.6-22.7c16.5-16.4,18.6-18.2,21.8-18.2c2.9,0,3.4,0.3,19.8,12.8
                                c7.4,5.6,13.8,10.4,14.1,10.6c0.3,0.2,2.7-0.5,5.3-1.7c2.5-1.1,6.7-2.8,9.3-3.8l4.7-1.8l3.2-20.4l3.1-20.4l1.8-1.5
                                c1-0.8,2.8-1.7,4-1.8c1.3-0.2,13-0.3,26-0.2c26.3,0.2,25.8,0.1,27.6,3.7c1.4,2.7,3.6,15.4,6.7,38.5c0.3,2.2,0.4,2.3,4,3.5
                                c2,0.7,6.1,2.4,9,3.6c2.9,1.3,5.6,2.4,6,2.4c0.3,0,6.9-4.9,14.5-10.9c7.7-6,14.8-11.3,15.9-11.9c3.9-2,6.4-1.1,13.9,5.1
                                c8.1,6.7,23.7,22.8,29.3,30.4c2.4,3.2,2.8,5.7,1.4,8.4c-0.4,0.8-3.3,4.6-6.3,8.3c-3,3.8-8.1,10.3-11.3,14.5l-5.8,7.7l1.8,3.6
                                c1,2,2.8,6.3,4.1,9.5l2.3,5.9l7.8,1.2c34.5,5.3,31.8,4.8,33.6,6.5c0.9,0.8,1.9,2.5,2.2,3.6c0.3,1.3,0.5,11,0.4,26.3l-0.2,24.2
                                l-1.3,1.8c-0.7,0.9-1.7,2-2.3,2.3c-0.5,0.3-9.3,1.8-19.5,3.3c-10.1,1.5-19,2.9-19.6,3.1c-0.9,0.2-1.6,1.4-2.9,5.3
                                c-1,2.7-2.9,7.2-4.3,9.9c-1.8,3.7-2.3,5.3-1.9,6c0.3,0.5,4.8,6.4,10,13.1c12.4,16,12.7,16.4,12.7,19.6c0,2.3-0.4,3.1-2.8,6.4
                                c-3.3,4.4-31,32.2-33.8,33.9c-2,1.2-5.6,1.4-7.4,0.4c-0.6-0.4-7.6-5.5-15.5-11.5c-7.9-5.9-14.6-10.9-15-11.2
                                c-0.3-0.2-2.3,0.4-4.4,1.3c-2,0.9-6.2,2.7-9.3,3.8l-5.5,2.2L3.1-1134c-3.3,21.7-3.5,22.4-7.2,23.7
                                C-6.4-1109.6-53.1-1109.4-55.8-1110.2z M-15.5-1217.6c9.5-2.8,16.5-7.1,23.7-14.5c6.8-7,10.6-13.6,13.3-23.3
                                c1.1-3.7,1.3-5.6,1.2-13.4c0-9.9-0.8-14.1-3.9-21.2c-3.4-7.7-10.3-16.2-17.5-21.8c-4.3-3.3-12.1-7-17.7-8.6c-6.4-1.7-20.7-1.7-27,0
                                c-9.2,2.5-16.1,6.5-23.4,13.5c-10.3,9.9-15.4,21.2-16.1,35.5c-0.7,15.3,3.9,27.7,14.2,38.6c7.1,7.6,14.2,12,23,14.8
                                c6.2,1.9,8.7,2.2,17.3,2C-21.7-1216.1-19.5-1216.4-15.5-1217.6z"/></g></svg></span><span class="title">Wishlist</span></span>
                        </div>
                    </li>
                    <li class="menu-item playground-dfuse no-icon active empty">
                        <div class="line">
                            <a href="/playground/dfuse" class="link" title="DFuse"><span class="icon"></span><span class="title">DFuse</span></a>
                        </div>
                    </li>
                    <!--<li class="menu-item wishlist-items no-icon empty">
                        <div class="line">
                            <a href="admin.php?target=wish_list_items" class="link" title="My Wishlist Items"><span class="icon"></span><span class="title">My Wishlist Items</span></a>
                        </div>
                    </li>
                    <li class="menu-item wishlist-purchased-items no-icon  empty">
                        <div class="line">
                            <a href="admin.php?target=wish_list_purchased_items" class="link" title="Purchased Items"><span class="icon"></span><span class="title">Purchased Items</span></a>
                        </div>
                    </li>-->
                </ul>
            </div>
        </li>
<!-- End of Playground -->       

<!-- Start of Discounts -->
        <!--<li class="menu-item promotions icon ">
  
<div class="line">
      <span class="link" title="Discounts"><span class="icon"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="32px" height="28.1px" viewBox="76 748.9 32 28.1" enable-background="new 76 748.9 32 28.1" xml:space="preserve"><g transform="translate(0.000000,684.000000) scale(0.100000,-0.100000)"><path d="M852.8-649.8c-6.6-0.7-13.7-3.4-19.7-7.5c-6.4-4.3-13.4-12.4-16.4-19.3c-5.2-11.5-5.4-25.9-0.4-37.7
		c4.6-11.1,15.9-21.6,27.6-25.6c2.5-0.9,8.1-2,10.5-2.2c0.8-0.1-18.9-0.2-43.8-0.3c-44.9-0.2-45.3-0.2-46.4-1.1
		c-0.6-0.5-1.5-1.4-2-2c-0.9-1.1-0.9-1.4-0.9-36.8c0-35.4,0-35.6,0.9-36.8c0.5-0.6,1.4-1.5,2-2c1.1-0.8,1.8-0.9,12.3-1l11.2-0.1
		v-43.9c0-47.6,0-47,2.3-51.6c1.4-2.8,5.6-7,8.4-8.4c4.9-2.4-3.1-2.3,121.9-2.3c124.5,0,117.5-0.1,122.2,2.3c2.9,1.4,7,5.6,8.4,8.4
		c2.3,4.6,2.3,4,2.3,51.6v43.9l11.2,0.1c10.5,0.1,11.2,0.2,12.3,1c0.6,0.5,1.5,1.4,2,2c0.9,1.1,0.9,1.4,0.9,36.8
		c0,35.4,0,35.6-0.9,36.8c-0.5,0.6-1.4,1.5-2,2c-1.1,0.9-1.5,0.9-46.6,1.1c-25,0.1-44,0.3-42.2,0.5c17.6,1.6,34.3,16.2,38.8,33.7
		c3.5,13.7,0.8,28.8-7.1,39.4c-8.1,10.7-18.8,17.1-31.6,18.8c-11.2,1.5-22.9-1-31.2-6.6c-5-3.3-8.4-7.2-22.6-25.6
		c-7.4-9.6-13.6-17.5-13.7-17.5s-6.3,7.8-13.7,17.5c-7.4,9.6-14.9,18.8-16.5,20.5C880.9-652.3,867.7-648.1,852.8-649.8z
		 M866.2-677.1c1.3-0.5,3.3-1.6,4.4-2.5c1.2-1,7.1-8.2,15-18.3c7.2-9.2,13.2-17,13.4-17.3c0.3-0.5-2.5-0.6-22.2-0.5
		c-22.3,0.1-22.5,0.1-24.9,1.1c-5.1,2.1-9.7,6.6-11.6,11.6c-1.1,2.9-1.5,8.2-0.9,11.4c1.5,7,7.2,13.1,14.2,15.1
		C856.8-675.7,863-676,866.2-677.1z M988.9-677.1c5.1-2,9.7-6.5,11.6-11.6c1.3-3.3,1.5-8.6,0.7-12.1c-1.8-7.1-8-13.1-14.9-14.5
		c-1.4-0.3-9.4-0.4-23.4-0.4l-21.2,0.1l13,16.8c13.1,16.8,15.2,19.3,18.1,20.8C977.2-675.7,984.3-675.4,988.9-677.1z M953.6-817.5
		c0-58-0.1-75.6-0.5-76.9c-0.8-2.7-3.8-5.4-7.3-6.5c-2.8-0.8-3.5-0.9-26.5-0.7l-23.6,0.1l-2.4,1.2c-2.7,1.3-5,3.7-5.6,6.1
		c-0.4,1.2-0.5,20.9-0.5,76.8v75.2h33.2h33.2V-817.5z"/></g></svg></span><span class="title">Discounts</span></span>
      </div>

      <div class="box">
      <ul>
        <li class="menu-item title">
          
<div class="line">
      <span class="link" title="Discounts"><span class="icon"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="32px" height="28.1px" viewBox="76 748.9 32 28.1" enable-background="new 76 748.9 32 28.1" xml:space="preserve"><g transform="translate(0.000000,684.000000) scale(0.100000,-0.100000)"><path d="M852.8-649.8c-6.6-0.7-13.7-3.4-19.7-7.5c-6.4-4.3-13.4-12.4-16.4-19.3c-5.2-11.5-5.4-25.9-0.4-37.7
		c4.6-11.1,15.9-21.6,27.6-25.6c2.5-0.9,8.1-2,10.5-2.2c0.8-0.1-18.9-0.2-43.8-0.3c-44.9-0.2-45.3-0.2-46.4-1.1
		c-0.6-0.5-1.5-1.4-2-2c-0.9-1.1-0.9-1.4-0.9-36.8c0-35.4,0-35.6,0.9-36.8c0.5-0.6,1.4-1.5,2-2c1.1-0.8,1.8-0.9,12.3-1l11.2-0.1
		v-43.9c0-47.6,0-47,2.3-51.6c1.4-2.8,5.6-7,8.4-8.4c4.9-2.4-3.1-2.3,121.9-2.3c124.5,0,117.5-0.1,122.2,2.3c2.9,1.4,7,5.6,8.4,8.4
		c2.3,4.6,2.3,4,2.3,51.6v43.9l11.2,0.1c10.5,0.1,11.2,0.2,12.3,1c0.6,0.5,1.5,1.4,2,2c0.9,1.1,0.9,1.4,0.9,36.8
		c0,35.4,0,35.6-0.9,36.8c-0.5,0.6-1.4,1.5-2,2c-1.1,0.9-1.5,0.9-46.6,1.1c-25,0.1-44,0.3-42.2,0.5c17.6,1.6,34.3,16.2,38.8,33.7
		c3.5,13.7,0.8,28.8-7.1,39.4c-8.1,10.7-18.8,17.1-31.6,18.8c-11.2,1.5-22.9-1-31.2-6.6c-5-3.3-8.4-7.2-22.6-25.6
		c-7.4-9.6-13.6-17.5-13.7-17.5s-6.3,7.8-13.7,17.5c-7.4,9.6-14.9,18.8-16.5,20.5C880.9-652.3,867.7-648.1,852.8-649.8z
		 M866.2-677.1c1.3-0.5,3.3-1.6,4.4-2.5c1.2-1,7.1-8.2,15-18.3c7.2-9.2,13.2-17,13.4-17.3c0.3-0.5-2.5-0.6-22.2-0.5
		c-22.3,0.1-22.5,0.1-24.9,1.1c-5.1,2.1-9.7,6.6-11.6,11.6c-1.1,2.9-1.5,8.2-0.9,11.4c1.5,7,7.2,13.1,14.2,15.1
		C856.8-675.7,863-676,866.2-677.1z M988.9-677.1c5.1-2,9.7-6.5,11.6-11.6c1.3-3.3,1.5-8.6,0.7-12.1c-1.8-7.1-8-13.1-14.9-14.5
		c-1.4-0.3-9.4-0.4-23.4-0.4l-21.2,0.1l13,16.8c13.1,16.8,15.2,19.3,18.1,20.8C977.2-675.7,984.3-675.4,988.9-677.1z M953.6-817.5
		c0-58-0.1-75.6-0.5-76.9c-0.8-2.7-3.8-5.4-7.3-6.5c-2.8-0.8-3.5-0.9-26.5-0.7l-23.6,0.1l-2.4,1.2c-2.7,1.3-5,3.7-5.6,6.1
		c-0.4,1.2-0.5,20.9-0.5,76.8v75.2h33.2h33.2V-817.5z"/></g></svg></span><span class="title">Discounts</span></span>
      </div>
        </li>
                  
<li class="menu-item volume-discounts no-icon  empty">
  
<div class="line">
      <a href="admin.php?target=promotions&amp;page=volume_discounts" class="link" title="Volume discounts"><span class="icon"></span><span class="title">Volume discounts</span></a>
      </div>

  </li>

                  
<li class="menu-item coupons no-icon  empty">
  
<div class="line">
      <a href="admin.php?target=promotions&amp;page=coupons" class="link" title="Coupons"><span class="icon"></span><span class="title">Coupons</span></a>
      </div>

  </li>

                
      </ul>
    </div>
        </li>-->
<!-- End of Discounts -->              

<!-- Start of Change Log -->              
        <!--<li class="menu-item treos-change-log icon  empty">
  
<div class="line">
      <a href="admin.php?target=change_log" class="link" title="Change Log"><span class="icon"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="32px" height="32px" viewBox="-19 698.9 32 32" enable-background="new -19 698.9 32 32" xml:space="preserve"><g transform="translate(0.000000,588.000000) scale(0.100000,-0.100000)"><path d="M-55.8-1110.2c-2.1-0.6-3.8-2.6-4.6-5.4c-0.8-2.9-3.6-19.5-4.7-28c-1.4-11.6-1-10.4-4.4-11.6c-1.7-0.5-5.9-2.2-9.2-3.7
		c-3.4-1.5-6.4-2.7-6.6-2.7c-0.2,0-7,5.1-15.1,11.3c-8.1,6.2-15.3,11.6-16.1,11.9c-2.5,1-4.4,0.6-7.7-1.5
		c-8.3-5.4-32.4-29.8-35.6-36.1c-2.1-4.1-1.6-5.3,6.4-15c6.1-7.4,16.4-21.1,16.4-21.8c0-0.3-1.1-2.9-2.4-5.7c-1.3-2.9-3.1-7.1-4-9.5
		c-0.8-2.4-1.7-4.3-1.9-4.3c-0.8,0-37.4-5.6-38.6-5.9c-2-0.6-4.5-3.8-4.9-6.4c-0.2-1.3-0.3-12.9-0.2-25.9l0.2-23.5l1.3-1.8
		c0.7-0.9,1.7-2,2.2-2.3c0.6-0.3,9.8-1.8,20.6-3.4l19.6-2.9l1.7-5c1.3-3.9,4.9-12.2,6.6-15.3c0.2-0.3-5.7-8.1-16.3-21.7
		c-6.4-8.2-6.9-9.2-6.6-12.5c0.4-4,2.9-7.1,18.6-22.7c16.5-16.4,18.6-18.2,21.8-18.2c2.9,0,3.4,0.3,19.8,12.8
		c7.4,5.6,13.8,10.4,14.1,10.6c0.3,0.2,2.7-0.5,5.3-1.7c2.5-1.1,6.7-2.8,9.3-3.8l4.7-1.8l3.2-20.4l3.1-20.4l1.8-1.5
		c1-0.8,2.8-1.7,4-1.8c1.3-0.2,13-0.3,26-0.2c26.3,0.2,25.8,0.1,27.6,3.7c1.4,2.7,3.6,15.4,6.7,38.5c0.3,2.2,0.4,2.3,4,3.5
		c2,0.7,6.1,2.4,9,3.6c2.9,1.3,5.6,2.4,6,2.4c0.3,0,6.9-4.9,14.5-10.9c7.7-6,14.8-11.3,15.9-11.9c3.9-2,6.4-1.1,13.9,5.1
		c8.1,6.7,23.7,22.8,29.3,30.4c2.4,3.2,2.8,5.7,1.4,8.4c-0.4,0.8-3.3,4.6-6.3,8.3c-3,3.8-8.1,10.3-11.3,14.5l-5.8,7.7l1.8,3.6
		c1,2,2.8,6.3,4.1,9.5l2.3,5.9l7.8,1.2c34.5,5.3,31.8,4.8,33.6,6.5c0.9,0.8,1.9,2.5,2.2,3.6c0.3,1.3,0.5,11,0.4,26.3l-0.2,24.2
		l-1.3,1.8c-0.7,0.9-1.7,2-2.3,2.3c-0.5,0.3-9.3,1.8-19.5,3.3c-10.1,1.5-19,2.9-19.6,3.1c-0.9,0.2-1.6,1.4-2.9,5.3
		c-1,2.7-2.9,7.2-4.3,9.9c-1.8,3.7-2.3,5.3-1.9,6c0.3,0.5,4.8,6.4,10,13.1c12.4,16,12.7,16.4,12.7,19.6c0,2.3-0.4,3.1-2.8,6.4
		c-3.3,4.4-31,32.2-33.8,33.9c-2,1.2-5.6,1.4-7.4,0.4c-0.6-0.4-7.6-5.5-15.5-11.5c-7.9-5.9-14.6-10.9-15-11.2
		c-0.3-0.2-2.3,0.4-4.4,1.3c-2,0.9-6.2,2.7-9.3,3.8l-5.5,2.2L3.1-1134c-3.3,21.7-3.5,22.4-7.2,23.7
		C-6.4-1109.6-53.1-1109.4-55.8-1110.2z M-15.5-1217.6c9.5-2.8,16.5-7.1,23.7-14.5c6.8-7,10.6-13.6,13.3-23.3
		c1.1-3.7,1.3-5.6,1.2-13.4c0-9.9-0.8-14.1-3.9-21.2c-3.4-7.7-10.3-16.2-17.5-21.8c-4.3-3.3-12.1-7-17.7-8.6c-6.4-1.7-20.7-1.7-27,0
		c-9.2,2.5-16.1,6.5-23.4,13.5c-10.3,9.9-15.4,21.2-16.1,35.5c-0.7,15.3,3.9,27.7,14.2,38.6c7.1,7.6,14.2,12,23,14.8
		c6.2,1.9,8.7,2.2,17.3,2C-21.7-1216.1-19.5-1216.4-15.5-1217.6z"/></g></svg></span><span class="title">Change Log</span></a>
      </div>

        </li>-->
<!-- End of Change Log -->              

    </ul>
  
    <ul class="menu bottom-menu">

<!-- Start of Store Setup -->
        <!--<li class="menu-item store-setup icon ">
  
<div class="line">
      <a href="admin.php?target=settings&amp;page=Company" class="link" title="Store setup"><span class="icon"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="32px" height="32px" viewBox="-19 698.9 32 32" enable-background="new -19 698.9 32 32" xml:space="preserve"><g transform="translate(0.000000,588.000000) scale(0.100000,-0.100000)"><path d="M-42.2-1109.8c-25.1-1.8-49.2-9.5-71-22.8c-29.6-18-52.7-45.6-65.5-78c-11.6-29.3-13.9-63.6-6.4-95.9
		c4.9-21.2,16.2-44,31-62.6c15.8-19.9,39.5-37.5,63.8-47.5c34.5-14.1,74.8-15.5,110.6-3.8c20.7,6.8,40.7,18.6,57.5,33.8
		c20.3,18.4,36.4,43.7,44.8,70.7c9.5,30.4,9.2,66.6-0.7,96.7c-4.7,14.1-10.5,26.1-18.8,38.6c-7.2,10.9-11.5,16.1-20.7,25.2
		c-17.7,17.7-39.3,30.8-64,38.8C-0.1-1110.7-21.2-1108.3-42.2-1109.8z M-6.7-1143.3c3.2-1.7,3.3-2.3,3.3-22.5
		c0-15.3-0.2-18.6-0.8-20c-1.7-3.3-2-3.3-25.8-3.3s-24.1,0.1-25.8,3.3c-1.2,2.4-1.2,37.5,0,39.9c1.7,3.3,1.8,3.3,25.7,3.3
		C-11.7-1142.4-8.1-1142.5-6.7-1143.3z M-6.7-1216.4c3.5-1.8,3.3,1.2,3.3-58.2v-54.1H7.4c12,0,13.4-0.3,15-3.3
		c1.2-2.4,1.2-37.5,0-39.9c-1.8-3.5,0.6-3.3-52.4-3.3s-50.6-0.2-52.4,3.3c-1.2,2.4-1.2,37.5,0,39.9c1.6,3,3,3.3,15,3.3h10.8v33.3
		v33.3h-10.8c-12,0-13.4,0.3-15,3.3c-1.2,2.4-1.2,37.5,0,39.9c1.8,3.4,0.6,3.3,39,3.3C-13.1-1215.6-8.1-1215.7-6.7-1216.4z"/></g></svg></span><span class="title">Store setup</span></a>
      </div>

      <div class="box">
      <ul>
        <li class="menu-item title">
          
<div class="line">
      <a href="admin.php?target=settings&amp;page=Company" class="link" title="Store setup"><span class="icon"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="32px" height="32px" viewBox="-19 698.9 32 32" enable-background="new -19 698.9 32 32" xml:space="preserve"><g transform="translate(0.000000,588.000000) scale(0.100000,-0.100000)"><path d="M-42.2-1109.8c-25.1-1.8-49.2-9.5-71-22.8c-29.6-18-52.7-45.6-65.5-78c-11.6-29.3-13.9-63.6-6.4-95.9
		c4.9-21.2,16.2-44,31-62.6c15.8-19.9,39.5-37.5,63.8-47.5c34.5-14.1,74.8-15.5,110.6-3.8c20.7,6.8,40.7,18.6,57.5,33.8
		c20.3,18.4,36.4,43.7,44.8,70.7c9.5,30.4,9.2,66.6-0.7,96.7c-4.7,14.1-10.5,26.1-18.8,38.6c-7.2,10.9-11.5,16.1-20.7,25.2
		c-17.7,17.7-39.3,30.8-64,38.8C-0.1-1110.7-21.2-1108.3-42.2-1109.8z M-6.7-1143.3c3.2-1.7,3.3-2.3,3.3-22.5
		c0-15.3-0.2-18.6-0.8-20c-1.7-3.3-2-3.3-25.8-3.3s-24.1,0.1-25.8,3.3c-1.2,2.4-1.2,37.5,0,39.9c1.7,3.3,1.8,3.3,25.7,3.3
		C-11.7-1142.4-8.1-1142.5-6.7-1143.3z M-6.7-1216.4c3.5-1.8,3.3,1.2,3.3-58.2v-54.1H7.4c12,0,13.4-0.3,15-3.3
		c1.2-2.4,1.2-37.5,0-39.9c-1.8-3.5,0.6-3.3-52.4-3.3s-50.6-0.2-52.4,3.3c-1.2,2.4-1.2,37.5,0,39.9c1.6,3,3,3.3,15,3.3h10.8v33.3
		v33.3h-10.8c-12,0-13.4,0.3-15,3.3c-1.2,2.4-1.2,37.5,0,39.9c1.8,3.4,0.6,3.3,39,3.3C-13.1-1215.6-8.1-1215.7-6.7-1216.4z"/></g></svg></span><span class="title">Store setup</span></a>
      </div>
        </li>
                  
<li class="menu-item store-info no-icon  empty">
  
<div class="line">
      <a href="admin.php?target=settings&amp;page=Company" class="link" title="Store address"><span class="icon"></span><span class="title">Store address</span></a>
      </div>

  </li>

                  
<li class="menu-item zones no-icon  empty">
  
<div class="line">
      <a href="admin.php?target=zones" class="link" title="Zones"><span class="icon"></span><span class="title">Zones</span></a>
      </div>

  </li>

                  
<li class="menu-item shipping-methods no-icon  empty">
  
<div class="line">
      <a href="admin.php?target=shipping_methods" class="link" title="Shipping"><span class="icon"></span><span class="title">Shipping</span></a>
      </div>

  </li>

                
      </ul>
    </div>
        </li>-->
<!-- End of Store Setup -->

          </ul>
  </div> <!-- leftMenu -->