<div class="main-header">
        <div class="left-menu-ctrl"><svg width="22px" height="18px" viewBox="0 0 22 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Dashboard" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Marketplace" transform="translate(-241.000000, -480.000000)" fill="#708692"><g id="Menu" transform="translate(0.000000, 459.000000)"><g id="Group-14"><path d="M241,22 C241,21.4477153 241.439458,21 242.002462,21 L261.997538,21 C262.551183,21 263,21.4438648 263,22 C263,22.5522847 262.560542,23 261.997538,23 L242.002462,23 C241.448817,23 241,22.5561352 241,22 Z M241,30 C241,29.4477153 241.439458,29 242.002462,29 L261.997538,29 C262.551183,29 263,29.4438648 263,30 C263,30.5522847 262.560542,31 261.997538,31 L242.002462,31 C241.448817,31 241,30.5561352 241,30 Z M241,38 C241,37.4477153 241.439458,37 242.002462,37 L261.997538,37 C262.551183,37 263,37.4438648 263,38 C263,38.5522847 262.560542,39 261.997538,39 L242.002462,39 C241.448817,39 241,38.5561352 241,38 Z" id="Combined-Shape"></path></g></g></g></g></svg></div>
<div class="info-menu menu notification">
  <div class="icon">
    <svg width="19px" height="20px" viewBox="0 0 19 20" version="1.1" xmlns="http://www.w3.org/2000/svg"
     xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M18.4690712,16.775 L16.4283569,13.3735714 L16.4283569,8.57142857 C16.4283569,4.87357143 13.6040712,1.82428571 9.99978546,1.465 L9.99978546,0.714285714 C9.99978546,0.32 9.67978546,0 9.28549974,0 C8.89121403,0 8.57121403,0.32 8.57121403,0.714285714 L8.57121403,2.14285714 C8.57121403,2.53714286 8.89121403,2.85714286 9.28549974,2.85714286 C12.436214,2.85714286 14.9997855,5.42071429 14.9997855,8.57142857 L14.9997855,13.5714286 C14.9997855,13.7014286 15.0347855,13.8278571 15.1019283,13.9392857 L16.5947855,16.4285714 L1.97549974,16.4285714 L3.46907117,13.9392857 C3.53621403,13.8278571 3.57121403,13.7014286 3.57121403,13.5714286 L3.57121403,8.57142857 C3.57121403,6.37214286 4.85692831,4.34285714 6.84621403,3.40142857 C7.2026426,3.23285714 7.35478546,2.80714286 7.18621403,2.45 C7.0176426,2.09357143 6.59192831,1.94142857 6.23478546,2.11 C3.74907117,3.28642857 2.1426426,5.82214286 2.1426426,8.57142857 L2.1426426,13.3735714 L0.101928314,16.7757143 C-0.0309288285,16.9964286 -0.0337859714,17.2707143 0.0926426,17.4957143 C0.219071171,17.7192857 0.456928314,17.8571429 0.714071171,17.8571429 L6.52978546,17.8571429 C6.84907117,19.0864286 7.95835689,20 9.28549974,20 C10.6133569,20 11.7219283,19.0864286 12.041214,17.8571429 L17.8569283,17.8571429 C18.1140712,17.8571429 18.351214,17.7192857 18.4783569,17.495 C18.6054997,17.2707143 18.6019283,16.9957143 18.4690712,16.775 Z M9.28549974,18.5714286 C8.75907117,18.5714286 8.30335689,18.2821429 8.05549974,17.8571429 L10.5147855,17.8571429 C10.2676426,18.2821429 9.81192831,18.5714286 9.28549974,18.5714286 Z"
          id="Shape"></path></svg>
    <div class="unread-mark"></div>
  </div>
  <div class="box"><div class="lazy-load-widget read" data-lazy-class="XLite\View\Menu\Admin\Info\LazyLoad" data-lazy-event="mp_event_get_XC5_notifications,mp_event_check_for_updates">
  <div class="notification-menu" data-unread-count="0" data-menu-type="infoMenuReadTimestamp">
      <div class="empty-menu">You don’t have any notifications right now.</div>
  </div>

</div></div>
</div>
<div class="quick-menu-menu menu">
  <div class="title">
    Quick menu
    <i class="fa fa-angle-right"></i>
  </div>
  <div class="box">
<div class="quick-menu">

      <ul class="menu">
              
<li class="menu-item add-product icon  empty">
  
<div class="line">
      <a href="admin.php?target=product" class="link" title="Product"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="28.5px" height="32px" viewBox="-297.4 420.9 28.5 32" enable-background="new -297.4 420.9 28.5 32" xml:space="preserve"><path fill="#C1CCDA" d="M-295.2,421.5c-0.7,0.4-1.4,1.4-1.7,2c-0.2,0.6-0.3,1.7-0.3,1.7v11.5v11.5l0.1,0.5c0.3,1,0.7,1.7,1.5,2.3
	c0.5,0.4,0.9,0.6,1.6,0.7l0.6,0.1h4.9h4.9V451v-0.9h-4.9c-3.1,0-5,0-5.2-0.1c-1-0.2-1.8-1.1-2-2c-0.1-0.4-0.1-23,0-23.4
	c0.2-0.9,1.1-1.9,2.1-2.2c0.2,0,2.5-0.1,6.6-0.1h6.4l3.6,3.9l3.7,3.7v4.1v4.1h0.9h0.9V434c0-4.5,0-4.6-0.3-5.1
	c-0.2-0.3-7.3-7.4-7.7-7.7c-0.6-0.4-0.3-0.3-7.5-0.3h-6.3C-293.4,421-294.5,421.1-295.2,421.5z"/><path fill="#78AFCC" d="M-275.4,441.9c-0.1,0.1-0.3,0.2-0.3,0.3c-0.1,0.2-0.1,0.3-0.1,2v1.8h-1.8c-2,0-2.1,0-2.3,0.4
	c-0.1,0.2-0.1,0.3-0.1,0.9c0,0.6,0,0.7,0.1,0.9c0.3,0.4,0.3,0.4,2.4,0.4h1.8v1.8c0,2,0,2.1,0.4,2.3c0.2,0.1,0.2,0.1,0.9,0.1
	s0.8,0,0.9-0.1c0.4-0.3,0.4-0.3,0.4-2.3v-1.8h1.8c2,0,2.1,0,2.3-0.4c0.1-0.2,0.1-0.3,0.1-0.8c0-0.8-0.1-1.1-0.4-1.3
	c-0.2-0.1-0.3-0.1-2-0.1h-1.8v-1.8c0-2,0-2.1-0.4-2.3c-0.2-0.1-0.3-0.1-0.9-0.1C-275.1,441.7-275.2,441.8-275.4,441.9z"/></svg><span>Product</span></a>
    </div>

  </li>

              
<li class="menu-item add-coupon icon  empty">
  
<div class="line">
      <a href="admin.php?target=coupon" class="link" title="Coupon"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="28.5px" height="32px" viewBox="-297.4 420.9 28.5 32" enable-background="new -297.4 420.9 28.5 32" xml:space="preserve"><path fill="#C1CCDA" d="M-295.2,421.5c-0.7,0.4-1.4,1.4-1.7,2c-0.2,0.6-0.3,1.7-0.3,1.7v11.5v11.5l0.1,0.5c0.3,1,0.7,1.7,1.5,2.3
	c0.5,0.4,0.9,0.6,1.6,0.7l0.6,0.1h4.9h4.9V451v-0.9h-4.9c-3.1,0-5,0-5.2-0.1c-1-0.2-1.8-1.1-2-2c-0.1-0.4-0.1-23,0-23.4
	c0.2-0.9,1.1-1.9,2.1-2.2c0.2,0,2.5-0.1,6.6-0.1h6.4l3.6,3.9l3.7,3.7v4.1v4.1h0.9h0.9V434c0-4.5,0-4.6-0.3-5.1
	c-0.2-0.3-7.3-7.4-7.7-7.7c-0.6-0.4-0.3-0.3-7.5-0.3h-6.3C-293.4,421-294.5,421.1-295.2,421.5z"/><path fill="#78AFCC" d="M-275.4,441.9c-0.1,0.1-0.3,0.2-0.3,0.3c-0.1,0.2-0.1,0.3-0.1,2v1.8h-1.8c-2,0-2.1,0-2.3,0.4
	c-0.1,0.2-0.1,0.3-0.1,0.9c0,0.6,0,0.7,0.1,0.9c0.3,0.4,0.3,0.4,2.4,0.4h1.8v1.8c0,2,0,2.1,0.4,2.3c0.2,0.1,0.2,0.1,0.9,0.1
	s0.8,0,0.9-0.1c0.4-0.3,0.4-0.3,0.4-2.3v-1.8h1.8c2,0,2.1,0,2.3-0.4c0.1-0.2,0.1-0.3,0.1-0.8c0-0.8-0.1-1.1-0.4-1.3
	c-0.2-0.1-0.3-0.1-2-0.1h-1.8v-1.8c0-2,0-2.1-0.4-2.3c-0.2-0.1-0.3-0.1-0.9-0.1C-275.1,441.7-275.2,441.8-275.4,441.9z"/></svg><span>Coupon</span></a>
    </div>

  </li>

          </ul>
  
</div>
</div>
</div>

<div class="header-search">

  <form action="?" method="post" accept-charset="utf-8" onsubmit="javascript: return true;" class="form5d0f0bf251ade9.57694653">
      <input type="hidden" name="target" value="search_router" />
      <input type="hidden" name="action" value="search" />
      <input type="hidden" name="xcart_form_id" value="2kt6qvHV3cqEpMfhn5iX9DNgDvpYzcXc" />
      <input type="hidden" name="returnURL" value="/admin.php?target=list_wish_list_item" />
  
    <div class="input-group">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Search in <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu">
                      <li><a href="#" data-code="product" data-placeholder="Products - p: key">Products</a></li>
                      <li><a href="#" data-code="order" data-placeholder="Orders - o: key">Orders</a></li>
                  </ul>
      </div>
      <input type="text" class="form-control" name="substring" value="" placeholder="Products - p: key" />
    </div>
    <input type="hidden" name="code" value="product" />

  </form>

</div>


    </div><!-- main-header -->