<div class="main-header-right">
      <style>
  #header .storefront-status .link {
    margin-left: 12px;
  }
</style>
<div class="storefront-status opened">
    <a href="#" class="link opened" target="_blank">View storefront</a>
  <a href="#" class="link closed" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Private link">
    Storefront is closed
  </a>
  <a href="/" class="link opened">Return to home</a>
  </div>

<div class="language-selector-menu menu">
  <div class="title">
    en
    <i class="fa fa-angle-right"></i>
  </div>
  <div class="box">
<div class="language-selector">

      <ul class="menu">
              
<li class="menu-item ar icon  empty">
  
<div class="line">
      <a href="admin.php?target=list_wish_list_item&amp;action=change_language&amp;language=ar&amp;xcart_form_id=2kt6qvHV3cqEpMfhn5iX9DNgDvpYzcXc" class="link" title="AR"><img src="skins/common/images/flags_svg/sa.svg" alt="" /><span>AR</span></a>
    </div>

  </li>

              
<li class="menu-item zh icon  empty">
  
<div class="line">
      <a href="admin.php?target=list_wish_list_item&amp;action=change_language&amp;language=zh&amp;xcart_form_id=2kt6qvHV3cqEpMfhn5iX9DNgDvpYzcXc" class="link" title="ZH"><img src="skins/common/images/flags_svg/zh.svg" alt="" /><span>ZH</span></a>
    </div>

  </li>

              
<li class="menu-item nl icon  empty">
  
<div class="line">
      <a href="admin.php?target=list_wish_list_item&amp;action=change_language&amp;language=nl&amp;xcart_form_id=2kt6qvHV3cqEpMfhn5iX9DNgDvpYzcXc" class="link" title="NL"><img src="skins/common/images/flags_svg/nl.svg" alt="" /><span>NL</span></a>
    </div>

  </li>

              
<li class="menu-item en icon  empty">
  
<div class="line">
      <a href="admin.php?target=list_wish_list_item&amp;action=change_language&amp;language=en&amp;xcart_form_id=2kt6qvHV3cqEpMfhn5iX9DNgDvpYzcXc" class="link" title="EN"><img src="skins/common/images/flags_svg/en.svg" alt="" /><span>EN</span></a>
    </div>

  </li>

              
<li class="menu-item fr icon  empty">
  
<div class="line">
      <a href="admin.php?target=list_wish_list_item&amp;action=change_language&amp;language=fr&amp;xcart_form_id=2kt6qvHV3cqEpMfhn5iX9DNgDvpYzcXc" class="link" title="FR"><img src="skins/common/images/flags_svg/fr.svg" alt="" /><span>FR</span></a>
    </div>

  </li>

              
<li class="menu-item de icon  empty">
  
<div class="line">
      <a href="admin.php?target=list_wish_list_item&amp;action=change_language&amp;language=de&amp;xcart_form_id=2kt6qvHV3cqEpMfhn5iX9DNgDvpYzcXc" class="link" title="DE"><img src="skins/common/images/flags_svg/de.svg" alt="" /><span>DE</span></a>
    </div>

  </li>

              
<li class="menu-item sv icon  empty">
  
<div class="line">
      <a href="admin.php?target=list_wish_list_item&amp;action=change_language&amp;language=sv&amp;xcart_form_id=2kt6qvHV3cqEpMfhn5iX9DNgDvpYzcXc" class="link" title="SV"><img src="skins/common/images/flags_svg/se.svg" alt="" /><span>SV</span></a>
    </div>

  </li>

          </ul>
  
</div>
</div>
</div>
<div class="account-menu menu">
  <div class="title">
    <div class="icon"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="32px" height="32px" viewBox="-52 665.9 32 32" enable-background="new -52 665.9 32 32" xml:space="preserve"><g transform="translate(0.000000,522.000000) scale(0.100000,-0.100000)"><path d="M-374.3-1440.7c-32.4-3.2-63.1-16-87.2-36.1c-16.8-14.1-29.7-30.2-39.8-49.7c-8.1-15.8-13-30.7-16-49
		c-1.9-12-1.9-35,0-47.1c2.9-17.5,7.3-31.5,14.8-46.7c8.6-17.4,18.1-30.3,32.6-44.3c23.8-23,52.8-37.2,86.5-42.6
		c11.4-1.8,33.3-2,44.7-0.2c18.1,2.6,33.3,7.3,48.7,15c16.8,8.4,28.6,16.8,41.5,29.6c25.1,24.8,40.6,55.7,45.8,91.4
		c1.7,11.4,1.6,33.3-0.2,44.7c-4.3,27.1-14.4,51.2-30.6,72.8c-5.6,7.4-17.6,19.9-25.4,26.4c-21.5,17.9-48.7,30.2-77.4,34.6
		C-345.3-1440.5-365.7-1439.8-374.3-1440.7z M-344.2-1453.8c22.7-2.2,47-11.1,66.1-24.2c35.6-24.5,58.5-62.2,63.3-104.9
		c0.9-7.6,0.9-24.7,0-32.3c-3.2-27.9-14.2-54.1-31.9-76c-4.7-5.9-13.1-14.6-14-14.6c-0.4,0-2.2,1-4.2,2.2c-5,3.3-15.4,8.1-29.7,13.9
		c-6.8,2.8-14.9,6.3-17.9,7.9c-6.7,3.5-12.7,8.9-14.9,13.3c-1.6,3.2-1.6,3.5-1.6,16.2v13l2.4,2.6c4.5,4.8,9.4,16.4,11.5,27.2
		c0.2,1,0.7,1.7,1.4,1.7c1.8,0,5.2,3.1,6.7,6.2c0.8,1.6,2,5.4,2.5,8.3c1.3,6.5,0.6,10.6-2.2,14.2l-1.9,2.2l2.2,8.6
		c5.8,22.8,5.2,42.8-1.6,54.6c-4.2,7.3-11.5,12.7-20,14.5c-2.7,0.6-3.9,1.2-4.8,2.5c-1.9,2.7-6.1,5.3-11.5,7.1
		c-9.2,3.1-26.4,2.7-39-1.1c-16-4.7-27-16.3-31.2-32.7c-3.2-12.8-2.4-32.3,2.2-50.5c0.7-2.8,0.7-3-1.2-5.3
		c-2.9-3.7-3.6-7.7-2.3-14.2c0.6-2.9,1.7-6.7,2.5-8.3c1.6-3.1,4.9-6.2,6.7-6.2c0.6,0,1.2-0.7,1.4-1.7c1.1-5.4,2.6-10.4,4.3-14.6
		c2.2-5.2,7.1-13,9.1-14.4c1.2-0.9,1.2-1.4,1-14.2c-0.2-11.2-0.4-13.5-1.4-15.4c-4.3-8.4-11.1-12.7-34.8-22.3
		c-14.5-5.8-23.5-10.1-28.4-13.2c-2-1.3-3.8-2.3-4.2-2.3c-0.9,0-9.2,8.7-14,14.6c-21.4,26.5-32.5,57.7-32.6,91.6
		c-0.1,21.2,3.5,39.3,11.7,58.4c14.5,33.8,42.7,62.1,76.5,76.5C-394.2-1454.7-371-1451.3-344.2-1453.8z"/></g></svg></div>
    <i class="fa fa-angle-right"></i>
  </div>
  <div class="box">
<div class="account">

      <ul class="menu">
              
<li class="menu-item profile no-icon  empty">
  
<div class="line">
      <a href="admin.php?target=profile" class="link" title="My profile"><span>My profile</span></a>
    </div>

  </li>

              
<li class="menu-item login-text no-icon  empty">
  
<div class="line">
      <span class="link" title="dr-claw@clawshaven.com"><span>dr-claw@clawshaven.com</span></span>
    </div>

  </li>

              
<li class="menu-item logoff no-icon  empty">
  
<div class="line">
      <a href="admin.php?target=login&amp;action=logoff" class="link" title="Sign out"><span>Sign out</span></a>
    </div>

  </li>

          </ul>
  
</div>
</div>
</div>

    </div><!-- main-header-right -->