<style>
    body {
        margin: 0;
        display: none !important;
    }
</style>
<!DOCTYPE html>
<html lang="en" dir="ltr" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">

<head>
    <title>{{ title }}</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="robots" content="noindex, nofollow" />

    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />

    <meta name="ROBOTS" content="NOFOLLOW" />

    <!-- Added by Marc to help with Scatter -->
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="pragma" content="no-cache" />



    <link rel="shortcut icon" href="https://falcon.treos.io/images/simplecms/favicon.ico" type="image/x-icon" />
    <link rel="icon" sizes="192x192" href="images/simplecms/appleIcon_TREOS-fav192_192.png" />
    <link rel="apple-touch-icon" sizes="192x192" href="images/simplecms/appleIcon_TREOS-fav192_192.png">

    <link href="https://treos.io/var/resources/css/https/all/48209e239bc11a3802fb4b883d0f8e9c13f8cfdc642c03997238d60bd4c1163d.css?1584045040" rel="stylesheet" type="text/css" media="all" />
    <link href="https://treos.io/var/resources/css/https/screen/b9bf47a5fd5386aa9c820ce7314b8d2711bc3c50021746879d3d0dcb9ea6b693.css?1584045040" rel="stylesheet" type="text/css" media="screen" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans%3A300italic%2C400italic%2C600italic%2C700italic%2C400%2C300%2C600%2C700&amp;subset=latin%2Ccyrillic%2Clatin-ext&amp;1584045040" rel="stylesheet" type="text/css" media="not print" />
    <link href="https://treos.io/var/resources/css/https/all/1a6fe2165e277c0b38b995af95ba3653d8bb4eddebe19b7be5c21fdb5d7aa787.css?1584045040" rel="stylesheet" type="text/css" media="all" />
    <link href="https://treos.io/var/resources/css/https/print/42fcef75c40e620bc490226f0eeef47a0d64ffb71170b4c90696be796156e28c.css?1584045040" rel="stylesheet" type="text/css" media="print" />

    <link
        href="/var/resources/css/https/all/48209e239bc11a3802fb4b883d0f8e9c13f8cfdc642c03997238d60bd4c1163d.css?1561048885"
        rel="stylesheet" type="text/css" media="all" />
    <link
        href="/var/resources/css/https/screen/60ce27f37e85b08e6643806f368e97b9f47e84b6426fc4754bc0adc96d6c90b5.css?1561048885"
        rel="stylesheet" type="text/css" media="screen" />
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans%3A300italic%2C400italic%2C600italic%2C700italic%2C400%2C300%2C600%2C700&amp;subset=latin%2Ccyrillic%2Clatin-ext&amp;1561048885"
        rel="stylesheet" type="text/css" media="not print" />
    <link
        href="/var/resources/css/https/all/dfd15bcbb5594266a86943fdd22fe1fb93bed015e2242fdaf7a6badfe1767760.css?1561048885"
        rel="stylesheet" type="text/css" media="all" />

    <link
        href="/var/resources/css/https/print/42fcef75c40e620bc490226f0eeef47a0d64ffb71170b4c90696be796156e28c.css?1561048885"
        rel="stylesheet" type="text/css" media="print" />

    <!-- https://fontawesome.com/v4.7.0/get-started/ -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <script type="text/javascript">
        var xliteConfig = {
            script: 'admin.php',
            target: 'list_wish_list_item',
            language: 'en',
            success_lng: 'Success',
            base_url: 'https://falcon.treos.io/',
            form_id: '2kt6qvHV3cqEpMfhn5iX9DNgDvpYzcXc',
            form_id_name: 'xcart_form_id',
            zone: 'admin',
            developer_mode: true,
        };
    </script>

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <script type="text/javascript">
        window.xlite_preloaded_labels = { "Do you really want to close storefront?": "Do you really want to close storefront?" };
    </script>


    {{{_sections.style}}}

    {{{_sections.jshead}}}

</head>

<body
    class="area-a skin-admin skin-admin-modules-XC-CanadaPost-admin_skin skin-custom_skin-admin skin-theme_tweaker-admin authorized target-list-wish-list-item one-sidebar sidebar-first sidebar-first-empty upgrade-box-visible login-page">
    <!--email_off-->

    <script type="application/javascript">
        (function () {
            var resources = ["skins\/common\/css\/normalize.css", "skins\/common\/ui\/jquery-ui.css", "skins\/common\/css\/jquery.mousewheel.css", "skins\/common\/css\/validationEngine.jquery.css", "skins\/common\/css\/font-awesome\/font-awesome.min.css", "skins\/common\/css\/lazy-load.css", "https:\/\/falcon.treos.io\/var\/resources\/admin\/https\/screen\/cad59a3d57fb7e4c8d181c045f8aa48b.css", "https:\/\/falcon.treos.io\/var\/resources\/admin\/https\/screen\/b5e1be0f52e3fa88a833f71c846a05dd.css", "https:\/\/falcon.treos.io\/var\/resources\/admin\/https\/screen\/5aba103d6805f852e373d17bf85d5085.css", "\/\/fonts.googleapis.com\/css?family=Open+Sans%3A300italic%2C400italic%2C600italic%2C700italic%2C400%2C300%2C600%2C700&subset=latin%2Ccyrillic%2Clatin-ext", "skins\/common\/froala-editor\/css\/froala_style.fixed.css", "skins\/admin\/css\/style.css", "skins\/admin\/css\/ajax.css", "skins\/admin\/modules\/XC\/VendorMessages\/style.css", "skins\/admin\/modules\/XC\/MultiVendor\/css\/vendor_style.css", "skins\/admin\/modules\/CDev\/Sale\/css\/lc.css", "skins\/admin\/top_message\/style.css", "skins\/admin\/modules\/Treos\/TreosWishList\/style.css", "skins\/admin\/css\/powered_by.css", "skins\/admin\/modules\/CDev\/SimpleCMS\/page\/style.css", "skins\/admin\/css\/print.css", "skins\/common\/js\/jquery.min.js", "skins\/common\/js\/jquery-migrate.js", "skins\/common\/js\/jquery-ui.min.js", "skins\/common\/js\/jquery.ui.touch-punch.min.js", "skins\/common\/js\/jquery.cookie.min.js", "skins\/common\/js\/underscore-min.js", "skins\/common\/js\/underscore.string.min.js", "skins\/common\/bootstrap\/js\/bootstrap.min.js", "skins\/common\/js\/hash.js", "skins\/common\/js\/object_hash.js", "skins\/common\/js\/validationEngine.min\/languages\/jquery.validationEngine-en.js", "skins\/common\/js\/validationEngine.min\/jquery.validationEngine.js", "skins\/common\/js\/validationEngine.min\/custom.validationEngine.js", "skins\/common\/js\/jquery.mousewheel.min.js", "skins\/common\/js\/regex-mask-plugin.js", "skins\/common\/js\/common.js", "skins\/common\/js\/core.element.js", "skins\/common\/js\/core.js", "skins\/common\/js\/core.extend.js", "skins\/common\/js\/core.controller.js", "skins\/common\/js\/core.loadable.js", "skins\/common\/js\/core.utils.js", "skins\/common\/js\/lazyload.js", "skins\/common\/js\/json5.min.js", "skins\/common\/js\/core.popup.js", "skins\/common\/js\/core.popup_button.js", "skins\/common\/js\/core.form.js", "skins\/common\/js\/lazy-load.js", "skins\/common\/js\/loadCSS.min.js", "skins\/common\/js\/cssrelpreload.min.js", "skins\/common\/js\/onloadCSS.min.js", "skins\/common\/js\/functionNamePolyfill\/Function.name.js", "skins\/common\/js\/php.min.js", "skins\/common\/js\/core\/amd.js", "skins\/common\/js\/core\/translate.js", "skins\/admin\/modules\/XC\/WebmasterKit\/core.js", "skins\/admin\/top_message\/controller.js", "skins\/admin\/lazy_load\/controller.js", "skins\/admin\/menu\/notifications.js", "skins\/admin\/main_center\/page_container_parts\/header_parts\/header_search.js", "skins\/admin\/main_center\/page_container_parts\/header_parts\/storefront_status.js", "skins\/admin\/left_menu\/controller.js"];

            if (window.CoreAMD !== undefined) {
                require('js/core', function (core) {
                    core.registerResources(resources);
                    core.htmlResourcesLoadDeferred.resolve();
                });
            } else {
                document.addEventListener('amd-ready', function (event) {
                    require('js/core', function (core) {
                        core.registerResources(resources);
                        core.htmlResourcesLoadDeferred.resolve();
                    });
                });
            }
        })();
    </script>
    <script type="text/javascript"
        src="/var/resources/js/09db5743410be1a652f7680f1ab871d6aa508e00776654a33d3706c3ec2640ee.js?1561048885"></script>

    <div id="profiler-messages"></div>


    <div id="status-messages" style="display: none;">
        <a href="#" class="close-message" title="Close"><img src="images/spacer3.gif" alt="Close" /></a>
    </div>


    <div id="page-wrapper">

        <div id="header-wrapper">
            <div id="header">
                <div class="left-menu-header">
                    <div class="logo"><a href="/"><img src="/var/theme/images/logo_admin.png"
                                style="height:40px;"></a></div>
                    <div class="version version-placer">
                        <div>TREOS</div>
                    </div>
                </div>

                {{> main-header }}

                {{> main-header-right }}

            </div><!-- header -->
        </div><!-- header-wrapper -->

        <div id="page-container">
            <div id="sidebar-first" class="side-bar">
                {{> leftMenu }}
            </div>
            <div id="main">
                <noscript>
                    <div class="noscript">
                        This site requires JavaScript to function properly.
                        <br />Please enable JavaScript in your web browser.
                    </div>
                </noscript>

                {{{ body }}}
            </div><!-- main -->
        </div>
        <!--page-cointainer-->

    </div><!-- page-wrapper -->

    <!--/email_off-->
    {{{_sections.jsfoot}}}
</body>

</html>

<style>
    body {
        display: block !important;
    }
</style>