<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <title>{{ title }}</title>

    {{> includeBootstrapCSS }}
    
    <link href="/var/resources/css/https/all/48209e239bc11a3802fb4b883d0f8e9c13f8cfdc642c03997238d60bd4c1163d.css?1561048885" rel="stylesheet" type="text/css" media="all" />
    <link href="/var/resources/css/https/screen/60ce27f37e85b08e6643806f368e97b9f47e84b6426fc4754bc0adc96d6c90b5.css?1561048885" rel="stylesheet" type="text/css" media="screen" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans%3A300italic%2C400italic%2C600italic%2C700italic%2C400%2C300%2C600%2C700&amp;subset=latin%2Ccyrillic%2Clatin-ext&amp;1561048885" rel="stylesheet" type="text/css" media="not print" />
    <link href="/var/resources/css/https/all/dfd15bcbb5594266a86943fdd22fe1fb93bed015e2242fdaf7a6badfe1767760.css?1561048885" rel="stylesheet" type="text/css" media="all" />
    <link href="/var/resources/css/https/print/42fcef75c40e620bc490226f0eeef47a0d64ffb71170b4c90696be796156e28c.css?1561048885" rel="stylesheet" type="text/css" media="print" />

    <script type="text/javascript">
        var xliteConfig = {
            script:              'admin.php',
            target:              'list_wish_list_item',
            language:            'en',
            success_lng:         'Success',
            base_url:            'https://falcon.treos.io/',
            form_id:             '2kt6qvHV3cqEpMfhn5iX9DNgDvpYzcXc',
            form_id_name:        'xcart_form_id',
            zone:                'admin',
            developer_mode:      true,
        };
    </script>

    {{{_sections.style}}}

    <!--<link rel="stylesheet" href="/css/style.css">-->

    {{> includeBootstrapJS }}
    
    {{{_sections.jshead}}}
</head>
<body>

    <script type="application/javascript">
        (function () {
            var resources = ["skins\/common\/css\/normalize.css","skins\/common\/ui\/jquery-ui.css","skins\/common\/css\/jquery.mousewheel.css","skins\/common\/css\/validationEngine.jquery.css","skins\/common\/css\/font-awesome\/font-awesome.min.css","skins\/common\/css\/lazy-load.css","https:\/\/falcon.treos.io\/var\/resources\/admin\/https\/screen\/cad59a3d57fb7e4c8d181c045f8aa48b.css","https:\/\/falcon.treos.io\/var\/resources\/admin\/https\/screen\/b5e1be0f52e3fa88a833f71c846a05dd.css","https:\/\/falcon.treos.io\/var\/resources\/admin\/https\/screen\/5aba103d6805f852e373d17bf85d5085.css","\/\/fonts.googleapis.com\/css?family=Open+Sans%3A300italic%2C400italic%2C600italic%2C700italic%2C400%2C300%2C600%2C700&subset=latin%2Ccyrillic%2Clatin-ext","skins\/common\/froala-editor\/css\/froala_style.fixed.css","skins\/admin\/css\/style.css","skins\/admin\/css\/ajax.css","skins\/admin\/modules\/XC\/VendorMessages\/style.css","skins\/admin\/modules\/XC\/MultiVendor\/css\/vendor_style.css","skins\/admin\/modules\/CDev\/Sale\/css\/lc.css","skins\/admin\/top_message\/style.css","skins\/admin\/modules\/Treos\/TreosWishList\/style.css","skins\/admin\/css\/powered_by.css","skins\/admin\/modules\/CDev\/SimpleCMS\/page\/style.css","skins\/admin\/css\/print.css","skins\/common\/js\/jquery.min.js","skins\/common\/js\/jquery-migrate.js","skins\/common\/js\/jquery-ui.min.js","skins\/common\/js\/jquery.ui.touch-punch.min.js","skins\/common\/js\/jquery.cookie.min.js","skins\/common\/js\/underscore-min.js","skins\/common\/js\/underscore.string.min.js","skins\/common\/bootstrap\/js\/bootstrap.min.js","skins\/common\/js\/hash.js","skins\/common\/js\/object_hash.js","skins\/common\/js\/validationEngine.min\/languages\/jquery.validationEngine-en.js","skins\/common\/js\/validationEngine.min\/jquery.validationEngine.js","skins\/common\/js\/validationEngine.min\/custom.validationEngine.js","skins\/common\/js\/jquery.mousewheel.min.js","skins\/common\/js\/regex-mask-plugin.js","skins\/common\/js\/common.js","skins\/common\/js\/core.element.js","skins\/common\/js\/core.js","skins\/common\/js\/core.extend.js","skins\/common\/js\/core.controller.js","skins\/common\/js\/core.loadable.js","skins\/common\/js\/core.utils.js","skins\/common\/js\/lazyload.js","skins\/common\/js\/json5.min.js","skins\/common\/js\/core.popup.js","skins\/common\/js\/core.popup_button.js","skins\/common\/js\/core.form.js","skins\/common\/js\/lazy-load.js","skins\/common\/js\/loadCSS.min.js","skins\/common\/js\/cssrelpreload.min.js","skins\/common\/js\/onloadCSS.min.js","skins\/common\/js\/functionNamePolyfill\/Function.name.js","skins\/common\/js\/php.min.js","skins\/common\/js\/core\/amd.js","skins\/common\/js\/core\/translate.js","skins\/admin\/modules\/XC\/WebmasterKit\/core.js","skins\/admin\/top_message\/controller.js","skins\/admin\/lazy_load\/controller.js","skins\/admin\/menu\/notifications.js","skins\/admin\/main_center\/page_container_parts\/header_parts\/header_search.js","skins\/admin\/main_center\/page_container_parts\/header_parts\/storefront_status.js","skins\/admin\/left_menu\/controller.js"];

            if (window.CoreAMD !== undefined) {
                require('js/core', function (core) {
                    core.registerResources(resources);
                    core.htmlResourcesLoadDeferred.resolve();
                });
            } else {
                document.addEventListener('amd-ready', function (event) {
                require('js/core', function (core) {
                    core.registerResources(resources);
                    core.htmlResourcesLoadDeferred.resolve();
                });
            });
        }
        })();
    </script>
    <script type="text/javascript" src="/var/resources/js/09db5743410be1a652f7680f1ab871d6aa508e00776654a33d3706c3ec2640ee.js?1561048885"></script>

    <div class="container">
        <div class="row">
            <div class="col navtop">
                {{> navtopLoggedOut }}
            </div>
        </div>
        
        <div class="row">
            <div class="col-m-2">
                <div id="leftMenu" data-spy="affix" data-offset-top="85"></div>
            </div>
            <div class="col content">
                {{{ body }}}
            </div>
        </div>
    </div>

    {{{_sections.jsfoot}}}
</body>
</html>