{{#section 'style'}}
    {{{renderCSS '/css/treos-general.css'}}}
{{/section}}

{{#section 'jshead'}}
    {{{renderScript '/js/enums.js'}}}
    {{{renderScript '/js/tools.js'}}}
{{/section}}

<h1>Users</h1>
<p>Welcome to {{ title }}</p>

<form id="frmLogin" action="#" method="post">
    <ul>
        <li>3876 = Member</li>
        <li>79 = Admin</li>
    </ul>
    <div class="form-group">
        <label for="txtProfileID">User:</label>
        <input type="text" id="txtProfileID" class="form-control" value="3876" />
        <!--<select name="ddlUserID" id="ddlUserID">

        </select>-->
    </div>
    
    <button id="btnSubmit" type="submit" class="btn btn-primary" disabled="disabled">Submit</button>
    <button type="button" id="btnTestCookie" class="btn btn-primary">Test Cookie</button>
    <button type="button" id="btnClearCookie" class="btn btn-primary">Clear Cookie</button>
</form>


{{#section 'jsfoot'}}
    {{{renderScript '/js/home.js'}}}
{{/section}}