.treos-modal-dialog .modal-body .alert {
    margin-bottom: 0px;
}

.treos-modal-dialog .modal-body h2 {
    margin-top: 0px;
}

/* #txtEosGenerator_Keys {
    background-color: transparent;
    resize: none;
} */

.treos-modal-dialog textarea[readonly], .treos-modal-dialog textarea[readonly="readonly"] {
    /*styling info here*/
    background-color: transparent;
    color: inherit;
    opacity: 1;
    cursor: auto;
    resize: none;
}

#EosGenerator_Coins {
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
    padding-left: 20%;
    padding-right: 20%;
}

#EosGenerator_Coins input[type="radio"] + label, #EosGenerator_Coins input[type="radio"]:checked + label {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    min-width: 75px;
    text-align: center;
    display: inline-block;
    *display: inline;
}

#EosGenerator_Coins .stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0;
}

#EosGenerator_Coins input[type="radio"] + label {
    border: 1px solid darkgray;
}

#EosGenerator_Coins input[type="radio"] + label img {
    vertical-align: middle;
}

#EosGenerator_Coins input[type="radio"]:checked + label {
    border: 1px solid black;
    background-color: rgb(74, 144, 226);
    color: white;
}

.treos-modal-dialog .radio-buttons {
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
}