.treos-modal-dialog .modal-title {
    font-size: 20px;
    font-weight: bold;
}

.treos-modal-dialog .table-details {
    width:100%;
}

.treos-modal-dialog .table-details tbody th, .treos-modal-dialog .table-details tbody td {
    vertical-align: top;
    padding-bottom: 5px;
}

.treos-modal-dialog .table-details tbody th {
    text-align: right;
    white-space: nowrap;
    padding-right: 10px;
}

.treos-modal-dialog .table-details tbody td {
    text-overflow: hidden;
    width: 100%;
}

.report-table thead th {
    text-align: center;
}

.report-form-container {
    border: 1px solid #ddd;
    /*border-radius: 10px;*/
    width:fit-content; 
    height:fit-content; 
    margin-bottom: 10px;
}

.report-form-table {
    margin: 10px;
}

.report-form-table th, .report-form-table td {
    padding-top: 5px;
    padding-bottom: 5px;
}

.report-form-table tbody th {
    text-align: right;
    padding-right: 20px;
}

td.truncate:hover {
    cursor: pointer;
}

td.truncateContents {
    text-overflow: ellipsis;
    /*BOTH of the following are required for text-overflow (overflow: hidden; and white-space: nowrap;)*/
    overflow: hidden;
    white-space: nowrap;
    max-width:1px;
}