html, body {
    min-width: 0px;
}


@media only screen and (max-width: 768px) {
    body {
        font-size: 150%;
    }

    h1 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.2em;
    }

    .btn, button span {
        font-size: 1em;
    }

}

