#notifyMessagePanel {
    width:100%;
    max-width: 800px;
}


.sectionSeparator {
    width: calc(100% + 25px + 25px);
    margin-left: -25px;
    margin-top: 10px;
    margin-bottom: 10px;

    border-top: 1px solid black;
    
}

hr.dropshadow {
    width: calc(100% + 25px + 25px);
    margin-left: -25px;
    margin-bottom: 0px;
    height: 10px;
    border: 2;
    box-shadow: inset 0 9px 9px -3px lightgray;
}