﻿#conv-container {
    /*position: absolute;*/
    z-index: 102;
    max-width: 215px;
    width: 100%;
    color: #ffffff;
    background-color: #03A9F4;
    border-width: 1px;
    border-style: solid;
    border-top-color: #03A9F4;
    border-left-color: #03A9F4;
    border-right-color: #03A9F4;
    padding: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    position: fixed;
    bottom: -4px;
    right: 10px;
}


#conv-container label, #conv-container #conv-select-fiat, #conv-container #conv-select-crypto {
    width: 80px;
    display: inline-block;
    margin-right: 5px;
}

#conv-container label {
    text-align: right;
}

#conv-container input, #conv-container select {
    display: inline-block;
}

#conv-container input {
    width: 110px;
    text-align: right;
    margin-bottom: 5px;
}

#conv-container .nan {
    color: #D8000C;
    background-color: #FFD2D2;
}

/* Hide the spinners */
#conv-container input[type=number]::-webkit-inner-spin-button, #conv-container input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

#conv-container input[type="number"] {
    -moz-appearance: textfield;
}

#conv-container #conv-buttons {
    text-align:right;
}

    #conv-container #conv-buttons button {
        width: 70px;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
    }

    #conv-launch {
        position: fixed;
        bottom: -4px;
        right: 10px;
    }

    #conv-launch #conv-launchButton {
        background-color : #03A9F4;
        color: white;
        padding: 10px 20px;
        border-radius: 4px;
        border-color: #03A9F4;
    }

    @media only screen and (max-width: 768px) {
        #conv-container {
            max-width: 100%;
            width: 100%;
            border-left-color: none;
            border-top-color: #1976d2;
            padding: 5px;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            right: 0px;
        }

        #conv-container #conv-inputs {
            float:left;
        }

        #conv-container #conv-buttons {
            
        }

        #conv-container #calc-form {
            max-width: 300px;
            margin-left: auto;
            margin-right: auto;
        }
    }