.form-group .form-control {
    font-size: 14px;
}

/*
    768 - 198 = 570
    All 3 columns can not exceed 534px or unexpected wrapping will occur.
 */
.col-width-1, .colwidth-1 {
    max-width: 134px;
}

.col-width-2, .colwidth-2 {
    max-width: 100px;
}

.col-width-3, .colwidth-3 {
    max-width: 300px;
    padding-left: 15px;
}

.col-width-1-3, .colwidth-1-3 {
    max-width: 534px;
}

.col-width-23, .colwidth-23 {
    max-width: 400px;
}

.col-width-1, .col-width-2, .col-width-3, .col-width-23, .col-width-1-3,
        .colwidth-1, .colwidth-2, .colwidth-3, .colwidth-23, .colwidth-1-3 {
    width: 100%;
    padding-right: 15px;
}

.col-width-1, .col-width-2, .col-width-3, .col-width-23,
        .colwidth-1, .colwidth-2, .colwidth-3, .colwidth-23 {
    float: left;
}

.col-width-3:after, .col-width-23:after, .col-width-1-3:after,
    .colwidth-3:after, .colwidth-23:after, .colwidth-1-3:after {
    clear: both;
}

#addresses {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: stretch;
}

.box-address > div {
    /*border: 1px solid rgba(0,0,0,.125);
    background-color: rgba(0,0,0,.03);
    color: #666666;
    border-radius: 8px;*/
    padding: 10px;
    width: 200px;
    height: 250px;
}

.box-address > input { /* Hide Radio */
    visibility: hidden; /* Make input non-clickable */
    position: absolute; /* Remove input from document flow */
}

.box-address > input + div { /* div styles */
    cursor: pointer;
    /*border: 2px solid transparent;*/
}

.box-address > input:checked + div { /* (Radio Checked) div styles */
    /*border: 1px solid #cfdfea;
    background-color: rgba(232,245,255,1);
    color: rgb(74, 144, 226);*/
}






.box-product-image {
    display: block;
    height: 160px;
    width: 360px;
    margin-left: auto;
    margin-right: auto;
}


.box-product-image > div {
    /*border: 1px solid rgba(0,0,0,.125);
    background-color: rgba(0,0,0,.03);
    color: #666666;
    border-radius: 8px;*/
    padding: 10px;
    width: 200px;
    height: 250px;
}

.box-product-image > img {
    display: block;
    max-height: 160px;
    max-width: 360px;
    margin: auto;
}

.box-product-image > input { /* Hide Radio */
    visibility: hidden; /* Make input non-clickable */
    position: absolute; /* Remove input from document flow */
}

.box-product-image > input + div { /* div styles */
    cursor: pointer;
    /*border: 2px solid transparent;*/
}

.box-product-image > input:checked + div { /* (Radio Checked) div styles */
    /*border: 1px solid #cfdfea;
    background-color: rgba(232,245,255,1);
    color: rgb(74, 144, 226);*/
}








.radio label {
    white-space: wrap;
}

.row .form-group .radio {
    display: table-row;
}

.row .form-group .radio .form-check-input,
.row .form-group .radio .form-check-label {
    display: table-cell;
}

.row .form-group .radio .form-check-label {
    white-space: normal;
}

input[type=radio]{
    /*transform:scale(1.5);*/
    /*width: 30px;
    height: 30px;*/
}


/* Start of Carousels */


#carousel-shipping-addresses,
        #carousel-product-images {
    width:100%;
    max-width: 534px;
    height: 250px;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #BDBDBD;
    border-radius: 10px;
}

#carousel-shipping-addresses .carousel-indicators li,
        #carousel-product-images .carousel-indicators li {
    border: 1px solid darkgray;
    background-color: white;
    margin: 5px;
}

#carousel-shipping-addresses .carousel-indicators .active,
        #carousel-product-images .carousel-indicators .active {
    background-color: #3366cc;
}

#carousel-shipping-addresses .carousel-inner > .item {
    width: 100%;
    height: 100%;
    padding-left: calc(50% - 100px);    /* centers the address */
}

#carousel-product-images .carousel-inner > .item {
    width: 100%;
    height: 100%;
    /*padding-left: calc(50% - 180px);*/
}

#carousel-shipping-addresses .carousel-control,
        #carousel-product-images .carousel-control {
    color: #3366cc;
}

#carousel-shipping-addresses .carousel-control .icon-prev,
        #carousel-shipping-addresses .carousel-control .icon-next,
        #carousel-product-images .carousel-control .icon-prev,
        #carousel-product-images .carousel-control .icon-next {
    width: 50px;
    height: 50px;
    margin-top: -50px;
    margin-left: -25px;
    font-size: 50px;
}

#carousel-shipping-addresses .carousel-control.left, 
        #carousel-shipping-addresses .carousel-control.right,
        #carousel-product-images .carousel-control.left,
        #carousel-product-images .carousel-control.right {
    /*background-image: linear-gradient(to right,rgba(0,0,0,0.0001) 0%,rgba(51, 42, 175, 0.5) 100%);*/
    background-image: none;
    /*background-repeat: repeat-x;*/
}


/* End of Carousels */

div .carousel.has-error, .radio-label .has-error {
    background-color: #f2dede !important;
    border-color: #ebccd1 !important;
    color: #a94442 !important;
}


.token-balance-radio {
    display: inline-block;
    min-width: 140px;
    top: 1px;   /* Cover the border of the bottom div */
    position: relative;
}

.token-balance-radio label {
    width: 100%;
}

.token-balance-radio input[type=radio] {
    display: none;
}

.token-balance-radio div {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.token-balance-radio img {
    width: 65px;
    height: 65px;
    margin-left: auto;
    margin-right: auto;

    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}

/*
    ul > li - direct descendent
    input + div - immediately after, not inside  <input ><div></div>
*/

.token-balance-radio .radio-label > input:checked + div,
        .funding-info {
    background-color: #d9edf7;
    border-top: 1px solid #bce8f1;
    border-left: 1px solid #bce8f1;
    border-right: 1px solid #bce8f1;
}

.token-balance-radio .radio-label > input:checked + div img,
        .token-balance-radio .radio-label div > img:hover { /* (Radio Checked) div styles */
    -webkit-filter: grayscale(0);
    filter: none;
}

.token-balance-radio .radio-label > input:checked + div p { /* (Radio Checked) div styles */
    color: #31708f;
}

.token-balance-radio img, .token-balance-radio p {
    display: block;
    padding-left:5px;
    padding-right:5px;
}

.token-balance-radio p {
    text-align: center;
    font-size: 1em;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 15px;
    color: gray;
}

.funding-info {
    width:100%;
    max-width: 534px;
    border: 1px solid #bce8f1;
    color: #31708f;
}

.funding-info p {
    padding: 10px;
}

.funding-info ul {
    margin-left: 30px;
    list-style: disc;
}

#product-images-spinner {
    margin-left:5px;
}

#frmConfirm .indent {
    margin-left: 20px;
}

#agreement-modal .modal-dialog {
    width: auto;
    max-width: 750px;
}

#agreement-modal ol {
    list-style-type: numeric;
    margin-left: 20px;
}

@media only screen and (max-width: 768px) {
    #carousel-shipping-addresses,
        #carousel-product-images {
        max-width: 100%;
    }

    .mobile-invisible {
        display: none;
    }

    .col-width-1, .col-width-2, .col-width-3, .col-width-23, .col-width-1-3,
        .colwidth-1, .colwidth-2, .colwidth-3, .colwidth-23, .colwidth-1-3 {
        max-width: 100%;
        padding-left: 0px;
        padding-right: 0px;
        clear: both;
    }

    .col-width-2, .colwidth-2 {
        margin-bottom: 10px;
    }

    .token-balance-radio {
        min-width: 0px;
    }

    #product-images-spinner {
        margin-top:5px;
        margin-bottom:5px;
        margin-left:auto;
        margin-right: auto;
        display: block;
    }

}   /* media max-width 768px */



