WISHLIST LISTING TERMS AND CONDITIONS

<p>
    By agreeing to the “Terms and Conditions” on this page, by selecting the CONFIRM LISTING button, you are committing to completing the Wishlist Transaction with the member who purchases your listed item on your behalf.
</p>

Terms and Definitions of this agreement:
<ol>
    <li>You are known as the “Wishlist Lister”.</li>
    <li>The member who commits to purchasing your wishlist item on your behalf is known as the "Wishlist Purchaser"</li>
    <li>The currency paid and received in the Wishlist is TRO Coin which will sometimes be referred to in this agreement as "Funds".</li>
</ol>

<p>
    You agree that the total amount of TRO Coins that you are offering to the “Wishlist Purchaser” including the “Bonus %” and the CoinXion “Wishlist Listing Fee” will be deducted from your “TRO Wallet Available Balance” and held in an Escrow account until the transaction is completed.
</p>
<p>
    The total amount will be displayed in your CoinXion Wallet in the “Reserved” column of your "Wallet Overview" and on the “Pending Withdrawal” tab.
</p>
<p>
    When the transaction is completed the total amount will be displayed in your CoinXion Wallet on the "Withdrawal History" and "Transaction History tabs".
</p>
<p>
    If a member commits to purchasing your Wishlist item on your behalf you cannot cancel your Wishlist Listing.
</p>
<p>
    Your TRO coins will be held in Escrow until the transaction is completed. When the transaction is completed the funds are released from Escrow and deposited into the “Wishlist Purchaser’s” CoinXion wallet.
</p>
<p>
    You can cancel the Wishlist Listing before another member commits to purchasing the item on your behalf. In this case your funds will be released from Escrow and returned back to your available balance in your CoinXion Wallet.
</p>
<p>
    You agree that the website URL link you have provided in your Wishlist Listing, will direct the Wishlist purchaser to the actual item you have listed.
</p>
<p>
    You agree that the details you have provided for the item price, and the shipping price from supplier to your shipping address are correct.
</p>
<p>
    You agree that the shipping details, your address and contact details you have provided on the listing are correct.
</p>
<p>
    You agree that on receiving your listed item, you will confirm via your CoinXion account, that you have received your listed item.
</p>
<p>
    You agree that on receiving your listed item, you will provide true and honest feedback on the item you have received.
</p>
<p>
    A POSITIVE feedback, will automatically release the funds from Escrow to deposit into the Purchasers account.
</p>
<p>
    A NEUTRAL feedback, will automatically release the funds from Escrow to deposit into the Purchasers account.
</p>
<p>
    A NEGATIVE feedback, will give you the option to open a “Support Case” if their is a problem with the item when you receive it. The funds will be held in Escrow until the dispute case is resolved. In which case the funds will then be released to the Purchaser or returned to the Lister.
</p>
<p>
    You will have 48HRS to confirm that you have received the listed item and give honest feedback on the item you received.
</p>
<p>
    A Fast confirmation and feedback time will result in a fast completion of transaction, releasing your funds to the purchaser.
</p>
<p>
    Failure to complete the received item confirmation and item feedback within 48hrs may result in you receiving a negative feedback score from the Purchaser.
</p>
<p>
    It is your responsibility to research the item you want purchased before you confirm this listing to ensure that the item can be purchased and delivered to you without any complications for th purchaser.
</p>
<p>
    Any Lister that is found to be giving false Negative Feedback will automatically have their CoinXion account suspended without notice.
</p>
<p>
    You should not commit to listing a Wishlist item until they are 100% confident that the item can be delivered to your address.
</p>
<p>
    You should not commit to listing a Wishlist item if the item is of an illegal nature. Please refer to Coinxion Membership Terms and Conditions for further details.
</p>
<p>
    You should not commit to listing a Wishlist item if the item has an age restriction to the item and the you are under the age restriction.
</p>
<p>
    Any member found to be in breach of these terms and conditions will automatically have their CoinXion account suspended without notice. 
</p>