.panel {
    border-color: #999999;
    border-width: medium;
}

#address {
    background: #f4f4f4;
    border-width: thin;
    border-color: #333333;
    border-style: solid;
    padding: 15px;

}


.close {
    background-color: #333333;
    color: #FFFFFF;
}

.sa_edit {
    display: none;
    width: 90%;
    margin-bottom: 10px;
}

#bonus_percantage {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}