
{{#section 'style'}}
    {{{renderCSS '/css/treos-general.css'}}}
    {{{renderCSS '/css/responsive.css'}}}
{{/section}}

{{#section 'jshead'}}

{{/section}}

<!-- Copy from between here -->

<script src="/api.php?target=withdrawal_requests&endpoint=js%2Fplayground%2Fdfuse.js%3Ft=202002171908"></script>

<div class="row">
    <h1>Dfuse Playground</h1>
</div>

<div class="row">
    <div class="form-group">
        <button id="btnAccountBalances" type="button" class="btn btn-primary responsive">Account Balances</button>
    </div>
</div>

<div class="row">
    <div class="form-group">
        <button id="btnTokenBalances" type="button" class="btn btn-primary responsive">Token Balances</button>
    </div>
</div>

<div class="row">
    <div class="form-group">
        <button id="btnSendToken" type="button" class="btn btn-primary responsive">Send Tokens</button>
    </div>
</div>

<!-- Copy to here -->

{{#section 'jsfoot'}}
    {{{renderScript '/js/responsive.js'}}}
{{/section}}